/*
   This file is for temporary overrides as we migrate the app to PatternFly.

   We should have a goal of eventually being able to delete this file.
 */

body {
    font-family: var(--pf-global--FontFamily--sans-serif) !important;
}

.pf-c-page__main {
    --pf-c-page__main--ZIndex: auto;
}

.pf-c-page__sidebar {
    --pf-c-page__sidebar-body--PaddingTop: 0;
    --pf-c-page__sidebar--ZIndex: 50;
}

[data-testid='top-nav-btns'] {
    height: 4.75rem !important;
}

.pf-c-nav__link {
    align-items: center !important;
}

.pf-c-check__input {
    width: var(--pf-c-check__input--Height);
}

/* overriding our tailwind config default of display: block for images, because it breaks the patternfly layout */
.pf-c-empty-state__content svg {
    display: inline;
}
