.pf-severity-tile {
  border-width: 6px 1px 1px 1px;
  border-style: solid;
  border-color: var(--pf-t--global--border--color--default);
  border-top-color: var(--pf-severity-tile-color);
}

.pf-severity-tile:hover {
  border-color: var(--pf-t--global--border--color--default);
  border-top-color: var(--pf-severity-tile-color);
}
