clusterName: null # string
clusterLabels: null # dict
confirmNewClusterName: null # string
centralEndpoint: null # string
registryOverride: null # string
exposeMonitoring: null # bool
createUpgraderServiceAccount: null # string
helmManaged: null
createSecrets: null
additionalCAs: null # [obj]
imagePullSecrets:
  username: null # string
  password: null # string
  allowNone: null # bool
  useExisting: null # string | [string]
  useFromDefaultServiceAccount: null # bool
mainImagePullSecrets:
  username: null # string
  password: null # string
  useExisting: null # string | [string]
  useFromDefaultServiceAccount: null # bool
  allowNone: null # bool
collectorImagePullSecrets:
  username: null # string
  password: null # string
  useExisting: null # string | [string]
  useFromDefaultServiceAccount: null # bool
  allowNone: null # bool
image:
  registry: null # string
  main:
    registry: null # string
    name: null # string
    repository: null # string
    tag: null # string
    fullRef: null # string
    pullPolicy: null # string
  collector:
    slim:
      fullRef: null # string
    full:
      fullRef: null # string
    registry: null # string
    name: null # string
    repository: null # string
    tag: null # string
    fullRef: null # string
    pullPolicy: null # string
  scanner:
    registry: null # string
    name: null # string
    repository: null # string
    tag: null # string
    fullRef: null # string
  scannerDb:
    registry: null # string
    name: null # string
    tag: null # string
    fullRef: null # string
  scannerV4: null # [dict]
env:
  openshift: null # bool | int
  istio: null # bool
ca:
  cert: null # string
sensor:
  imagePullPolicy: null # string
  endpoint: null # string
  affinity: null # dict
  resources: null # string | dict
  serviceTLS:
    cert: null # string
    key: null # string
  exposeMonitoring: null # bool
  nodeSelector: null # string | dict
  tolerations: null # [dict]
  localImageScanning:
    # Enables the local image scanning feature in Sensor. This disabled if local image scanning should not be used to prevent
    # sensor reaching out to a scanner instance.
    # This setting does not relate to the scanner deployment configuration which configures whether scanner should be deployed.
    enabled: null # bool
admissionControl:
  listenOnCreates: null # bool
  listenOnUpdates: null # bool
  listenOnEvents:  null # bool
  dynamic:
    enforceOnCreates: null # bool
    scanInline: null # bool
    disableBypass: null # bool
    timeout: null # natural number
    enforceOnUpdates: null # bool
  imagePullPolicy: null # string
  replicas: null # int
  affinity: null # dict
  resources: null # string | dict
  serviceTLS:
    cert: null # string
    key: null # string
  exposeMonitoring: null # bool
  nodeSelector: null # string | dict
  tolerations: null # [dict]
collector:
  collectionMethod: null # string
  disableTaintTolerations: null # bool
  slimMode: null # bool
  imagePullPolicy: null # string
  tolerations: null # [dict]
  resources: null # string | dict
  complianceImagePullPolicy: null # string
  complianceResources: null # string | dict
  nodeScanningResources: null # string | dict
  serviceTLS:
    cert: null # string
    key: null # string
  exposeMonitoring: null # bool
  nodeSelector: null # string | dict
  disableSELinuxOptions: null # bool
  seLinuxOptionsType: null # string
auditLogs:
  disableCollection: null # bool
customize:
  labels: {} # dict
  annotations: {} # dict
  podLabels: {} # dict
  podAnnotations: {} # dict
  envVars: {} # dict
  sensor:
    labels: {} # dict
    annotations: {} # dict
    podLabels: {} # dict
    podAnnotations: {} # dict
    envVars: {} # dict
  admission-control:
    labels: {} # dict
    annotations: {} # dict
    podLabels: {} # dict
    podAnnotations: {} # dict
    envVars: {} # dict
  collector:
    labels: {} # dict
    annotations: {} # dict
    podLabels: {} # dict
    podAnnotations: {} # dict
    envVars: {} # dict
  scanner-v4-indexer:
    labels: {} # dict
    annotations: {} # dict
    podLabels: {} # dict
    podAnnotations: {} # dict
    envVars: {} # dict
  scanner-v4-matcher:
    labels: {} # dict
    annotations: {} # dict
    podLabels: {} # dict
    podAnnotations: {} # dict
    envVars: {} # dict
  scanner-v4-db:
    labels: {} # dict
    annotations: {} # dict
    podLabels: {} # dict
    podAnnotations: {} # dict
    envVars: {} # dict
  other: {} # dict
allowNonstandardNamespace: null # bool
allowNonstandardReleaseName: null # bool
enableOpenShiftMonitoring: null # bool
monitoring:
  openshift:
    enabled: null # bool
meta:
  namespaceOverride: null # bool
  useLookup: null # bool
  fileOverrides: {} # dict
  configFingerprintOverride: null # string
  apiServer:
    version: null # string
    overrideAPIResources: null # [string]
    extraAPIResources: null # [string]
system:
  enablePodSecurityPolicies: null # bool
