# For further documentation on CODEOWNERS, visit
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#about-code-owners
# This will automatically assign a team / people as reviewers for PRs based on the files changed within the PR.

# Core Workflows team's main responsibilities include policies including default policies and policy management workflows,
# detection and alerting, integrations and notifiers, risk, vulnerability management and reporting.
pkg/detection/**/*                  @stackrox/core-workflows
pkg/booleanpolicy/**/*              @stackrox/core-workflows
pkg/defaults/policies/**/*          @stackrox/core-workflows
central/policy/**/*                 @stackrox/core-workflows
central/reports/**/*                @stackrox/core-workflows
central/reportconfiguration/**/*    @stackrox/core-workflows
central/vulnerabilityrequest/**/*   @stackrox/core-workflows
proto/storage/policy.proto          @stackrox/core-workflows
proto/storage/image.proto           @stackrox/core-workflows
proto/storage/cve.proto             @stackrox/core-workflows
proto/storage/alert.proto           @stackrox/core-workflows
proto/storage/risk.proto            @stackrox/core-workflows

# Merlin's main responsibilities include roxctl, authN (authproviders), authZ (SAC).
roxctl/**/*     @stackrox/merlin
pkg/auth/**/*   @stackrox/merlin
pkg/sac/**/*    @stackrox/merlin

pkg/images/defaults/**/* @stackrox/maple

.circleci/**/* @stackrox/circleci
