.vulnerability-exception-request-overview {
  display: grid !important;
  grid-template-columns: 1fr 2fr 1fr 1fr 2fr 1fr; /* Creates 6 columns */
  gap: var(--pf-global--spacer--md);
}

.vulnerability-exception-request-overview .pf-c-description-list__group:nth-child(7) {
  grid-column: 1 / -1; /* Span all columns */
}

/* Adjustments for smaller screens */
@media (max-width: 1200px) {
  .vulnerability-exception-request-overview {
    display: grid !important;
    grid-template-columns: 1fr 2fr 1fr; /* Adjust to 3 columns */
    gap: 16px;
  }
}
