apiVersion: v1
kind: Service
metadata:
  name: monitoring
  namespace: {{.Values.namespace}}
  labels:
      app.kubernetes.io/name: monitoring
spec:
  ports:
  - name: https
    port: 443
    targetPort: 443
  selector:
    app: monitoring
  type: ClusterIP
