/*
* This is a transitional stylesheet to make the classic NetworkSearch component (using ReduxSearchInput
* under the hood) look closer to the PatternFly style. This should be removed when an equivalent
* PatternFly component can be built.
*/
.network-search * {
  font-family: var(--pf-global--FontFamily--sans-serif) !important;
}

.network-search > div > span,
.network-search > div .react-select__value-container * {
  color: var(--pf-global--Color--100) !important;
  font-weight: var(--pf-global--FontWeight--normal) !important;
}

.network-search > div .react-select__value-container span {
  font-size: var(--pf-global--FontSize--md) !important;
}

.network-search svg {
  fill: var(--pf-global--Color--100);
}

.network-search > .react-select__control {
  border-radius: 0 !important;
  border-width: var(--pf-global--BorderWidth--sm) !important;
  border-bottom-color: var(	--pf-global--BorderColor--200) !important;
  min-height: 36px !important;
}

.react-select__indicator-separator {
  display: none;
}

.react-select__multi-value__label {
  color: var(--pf-global--Color--100) !important;
  font-size: var(--pf-global--FontSize--xs) !important;
}