[submodule "docs/content"]
	path = docs/content
	url = https://github.com/openshift/openshift-docs.git
	branch = rhacs-docs-3.72.0
[submodule "docs/tools"]
	path = docs/tools
	url = https://github.com/stackrox/docs-tools.git
	branch = main
	shallow = true
[submodule "test/bats"]
	path = test/bats
	url = https://github.com/bats-core/bats-core.git
[submodule "test/test_helper/bats-support"]
	path = test/test_helper/bats-support
	url = https://github.com/bats-core/bats-support.git
[submodule "test/test_helper/bats-assert"]
	path = test/test_helper/bats-assert
	url = https://github.com/bats-core/bats-assert.git
