# Deployment
sensor*.zip
tmp
/central-bundle/

# needed for Cypress test mock zip file
!sensor-kubernetes-cluster-testinstance.zip

# Grafana captures
monitoring/grafana/captures
monitoring/grafana/rawcaptures

# Generated packr sources
*-packr.go

# Test output
/junit-reports/

# Makefile cruft
deps
proto-generated-srcs
report.xml
test.log
protoc-*
coverage.out
coverage.html
combined_coverage.dat

# Build output
/bin/
/linux-gocache

# Miscellaneous
*.g4
*.tokens
.idea/

# Mac OS hidden file
.DS_Store

# Vim swap files
*.swp

# Openshift automation workspace artifacts
/openshift/

# Cypress
cypress-report.xml
