**/container/bin/*
**/container/conf/*
**/container/data/*

# Crypto/Secrets
*.csr
*.pem
registry-auth

# Deployment
sensor-deploy.sh
sensor-deploy.zip
central.zip
tmp

# Generated API docs
/docs/

# Uncommitted code
vendor/
api/generated

# Makefile cruft
deps
report.xml
test.log
protoc-*
image/VERSION
coverage.out
coverage.html

# Bazel
bazel-*
BUILD.bazel
!/BUILD.bazel
!/image/policies/BUILD.bazel-*

# Miscellaneous
*.g4
*.tokens
.idea/

# Mac OS hidden file
.DS_Store

# Vim swap files
*.swp

# Integration configs used in development
/*.json

# Openshift automation workspace artifacts
/openshift/

qa-tests-backend/bin/*
qa-tests-backend/.project
