# Deployment
sensor*.zip
tmp
/central-bundle/

# needed for Cypress test mock zip file
!sensor-kubernetes-cluster-testinstance.zip

# Grafana captures
monitoring/grafana/captures
monitoring/grafana/rawcaptures

# Test output
/junit-reports/

# Makefile cruft
deps
proto-generated-srcs
report.xml
test.log
protoc-*
coverage.out
coverage.html
combined_coverage.dat
/.gotools/
.proto/

# Build output
/bin/
/linux-gocache

# Exclude GoLand/IntelliJ files in the repo.
# Note that trailing `/**/*` is required because some `git` versions will not respect the following inclusions without
# it. See https://stackoverflow.com/a/60288435/484050
# Leading `/**/` is required to apply exclsuion to all directories of the repo recursively. Basically, it is needed
# because of the trailing `/**/*`.
/**/.idea/**/*
# Yet, include per-project code style settings in the root of the repo.
# `codeStyles/` directory must be included explicitly because otherwise files will not be seen by `git`. See why in the
# link above.
!/.idea/codeStyles/
!/.idea/codeStyles/codeStyleConfig.xml
!/.idea/codeStyles/Project.xml
!/qa-tests-backend/.idea/codeStyles/
!/qa-tests-backend/.idea/codeStyles/codeStyleConfig.xml
!/qa-tests-backend/.idea/codeStyles/Project.xml

# Miscellaneous
*.g4
*.tokens
/vendor/
/.gradle/
/stackrox-central-services-chart/
/stackrox-secured-cluster-services-chart/
.vscode

# Used for mounting into the qa e2e-test docker container.
.gitconfig

# Mac OS hidden file
.DS_Store

# Openshift automation workspace artifacts
/openshift/

# Cypress
cypress-report.xml

# Local exclusions
local/database-restore/*

# shellcheck output
shellcheck-reports

# Direnv
.direnv/

# Snyk
.dccache
