.policy-section-card {
    min-height: 100%;
    width: 100%;
}

.policy-section-card .pf-v5-c-card__actions .pf-v5-c-button {
    z-index: 999; /* necessary because PF selectable label captures all clicks otherwise */
}

.policy-section-card .pf-v5-c-card__selectable-actions {
    padding-right: var(--pf-v5-global--spacer--md);
    padding-top: var(--pf-v5-global--spacer--sm);
}

.policy-section-card-header {
    border-bottom: 1px solid var(--pf-v5-global--BorderColor--100);
}

.policy-section-card-body {
    overflow: auto;
    padding-top: var(--pf-v5-global--spacer--md);
}

#policy-sections article.pf-v5-c-card.policy-section-card {
    width: 100%;
}

/* for large size screens, change the policy sections to be width limited */
@media (min-width: 992px) {
    .policy-section-card {
        margin-left: 0 !important;
        margin-right: 0 !important;
        min-width: 450px;
        max-width: 450px;
        height: 100%;
    }

    .policy-section-card-header {
        background-color: var(--pf-v5-global--BackgroundColor--100);
        position: sticky;
        top: 0;
        z-index: 101;
    }
}
