#policy-sections {
    white-space: nowrap;
    overflow-x: scroll;
}

#policy-sections .pf-v6-c-alert {
    white-space: wrap;
}

#policy-sections .pf-v6-c-toggle-group .pf-v6-c-toggle-group__button {
    white-space: initial;
}

#policy-sections-container {
    overflow: auto;
}

#policy-criteria-keys-container {
    overflow: auto;
    width: 19rem;
}
