.policy-criteria-key {
    border: var(--pf-global--BorderColor--100) 1px solid;
    cursor: move;
}

.draggable-grip {
    width: 18px;
    height: 24px;
    font-family: sans-serif;
    line-height: 4px;
    margin-right: 0.3em;
}

.policy-criteria-key .draggable-grip::after {
    content: '.. .. .. ..';
}
