# IDE
.idea
.vscode

# Mac OS hidden file
.DS_Store

# Makefile cruft
deps
/.gobin/
/certs/
/bin/

# nohup output when running port-forwards
nohup.out

# Vim swap files
*.swp

# Generated version data (written by Makefile, like Go's zbootstrap.go)
internal/version/zversion.go

# Go mod
vendor

# Local config file
config.yaml
