http_listen_addr: 127.0.0.1:9443
grpc_listen_addr: 127.0.0.1:8443
indexer:
  enable: true
  database:
    conn_string: "host=/var/run/postgresql"
    password_file: ""
  get_layer_timeout: 1m
  repository_to_cpe_url: https://access.redhat.com/security/data/metrics/repository-to-cpe.json
  name_to_repos_url: https://access.redhat.com/security/data/metrics/container-name-repos-map.json
matcher:
  enable: true
  database:
    conn_string: "host=/var/run/postgresql"
    password_file: ""
  vulnerability_url: https://storage.googleapis.com/scanner-v4-test/vulnerability-bundles/dev/output.json.zst
mtls:
  certs_dir: certs/scanner-v4
log_level: info
