@font-face {
  font-family: 'stackrox';
  src:
    url('../fonts/stackrox.ttf?uhta7p') format('truetype'),
    url('../fonts/stackrox.woff?uhta7p') format('woff'),
    url('../fonts/stackrox.svg?uhta7p#stackrox') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ReactModal__Content,
#main-page-container > div > :not(.pf-c-page__main-section) {
  font-family: Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--base-600);
}

/* Document assumptions for layout that are specified in PatternFly base.css file. */

/*
html {
  height: 100%;
}
*/

/*
body {
  height: 100%;
}
*/

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;

  /*
   * Borrow rules from Red Hat OpenShift Container Platform,
   * but #root instead of body to avoid conflict with background-color from base.css
   */
  background-color: #151515;
}

/*
 * MainPage is the only child because of its height: 100% style rule.
 */
#PageParent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  position: relative;
}
