/*
   This file is for temporary overrides as we migrate the app to PatternFly.

   We should have a goal of eventually being able to delete this file.
 */

body {
    font-family: var(--pf-global--FontFamily--sans-serif) !important;
}

/* overrides the default link styling in Tailwind (`inherit`) with PF's default blue */
.pf-c-page__main-section a {
    color: var(--pf-global--link--Color);
}

.pf-c-page__sidebar {
    --pf-c-page__sidebar-body--PaddingTop: 0;
}

[data-testid='top-nav-btns'] {
    height: 4.75rem !important;
}

.pf-c-nav__link {
    align-items: center !important;
}

.pf-c-card__header-toggle {
    align-self: center !important;
}

.pf-c-card__expandable-content {
    border-top: var(--pf-global--BorderColor--100) var(--pf-global--BorderWidth--sm) solid;
}

/* overrides for forms, until we remove Tailwind */
.pf-c-check__input {
    height: var(--pf-c-check__input--Height);
    width: var(--pf-c-check__input--Height);
}

.pf-c-form-control {
    border-top-color: var(--pf-global--BorderColor--300);
    border-right-color: var(--pf-global--BorderColor--300);
    border-bottom-color: var(--pf-global--BorderColor--200);
    border-left-color: var(--pf-global--BorderColor--300);
    padding: var(--pf-c-form-control--PaddingTop) var(--pf-c-form-control--PaddingRight) var(--pf-c-form-control--PaddingBottom) var(--pf-c-form-control--PaddingLeft);
}

.pf-c-form-control:disabled {
    color: var(--pf-c-form-control--disabled--Color) !important;
    background-color: var(--pf-c-form-control--disabled--BackgroundColor) !important;
    cursor: not-allowed !important;
    border-color: var(--pf-c-form-control--disabled--BorderColor) !important;
}

/* Override classic opacity: 0.5 for disabled toggle group buttons so they match disabled input elements. */
button.pf-c-toggle-group__button:disabled {
    opacity: inherit;
}

.pf-c-select__toggle:not(.pf-m-plain)::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    /* replacing vars which are not coming through in pseudo element
        var(--pf-c-select__toggle--before--BorderTopColor)
        var(--pf-c-select__toggle--before--BorderRightColor)
        var(--pf-c-select__toggle--before--BorderBottomColor)
        var(--pf-c-select__toggle--before--BorderLeftColor);
    */
    border-color: #f0f0f0 #f0f0f0 #8a8d90 #f0f0f0 !important;
    border-style: solid !important;
    /* replacing vars which are not coming through in pseudo element
        var(--pf-c-select__toggle--before--BorderWidth);
    */
    border-width: 1px !important;
}

/* Un-override the above override when the <Select> component is disabled */
.pf-c-select__toggle.pf-m-disabled::before {
    border-width: inherit !important;
}

/* Un-override the above override when the <Select> component is in an invalid state */
.pf-m-invalid .pf-c-select__toggle::before {
    /* Why are these pseudo elements not able to access the vars? */
    /* border-bottom-color: var(--pf-c-select__toggle--before--BorderBottomColor); */
    border-bottom-color: rgb(201, 25, 11) !important;
    border-bottom-width: 2px !important;
}

/* Fix default text in plain PF Select */
.pf-c-select__toggle.pf-m-plain .pf-c-select__toggle-text {
    overflow: visible !important;
}


/* overriding our tailwind config default of display: block for images, because it breaks the patternfly layout */
.pf-c-button__icon.pf-m-start svg,
.pf-c-button__icon.pf-m-end svg,
.pf-c-empty-state__content svg,
.pf-c-table__toggle-icon svg,
.pf-c-expandable-section__toggle-icon svg,
.pf-c-breadcrumb__item-divider svg {
    display: inline;
}

/* overriding vertical align property for table sort icon */
.pf-c-table__sort-indicator {
    align-self: center;
}

/* Override filter which simulates dark background color */
.theme-dark .pf-c-table input[type='checkbox'],
.theme-dark .pf-c-check input[type='checkbox'] {
    filter: inherit; /* replace invert(0.3) */
}

/* override width of thead checkbox so that it's not cut off when table is empty */
.pf-c-table thead tr > .pf-c-table__check {
    min-width: 44px;
}

button.pf-c-tree-view__node {
    font-weight: inherit; /* override 600 from ui-components */
}

/* Global Search modal */
.search-modal .pf-c-tab-content {
    height: calc(100% - 112px) !important;
}

/* Overrides Tailwind bolding of PF ToggleGroup buttons */
.pf-c-toggle-group__button {
    font-weight: var(--pf-global--FontWeight--normal);
}

/* override PatternFly DescriptionList horizontal variant to allow long keys and values to wrap */
.pf-c-description-list__term,
.pf-c-description-list__description{
    word-break: break-all;
}

/* Override none value for list-style in Tailwind stylesheet. */
.pf-c-modal-box ol,
.pf-c-page__main-section ol {
    list-style: decimal;
}

/*
 * Override disabled checkbox styles when the input element is in a PF table
 */
.pf-c-table__check input[type="checkbox"]:disabled {
    cursor: not-allowed;
    border-color: revert;
}
.pf-c-table__check input[type="checkbox"]:checked:disabled {
    background-color: var(--pf-global--disabled-color--200);
    border-color: transparent;
}

/* For classic components to equal or exceed z-index of PatternFly elements. */

.z-xs-100 {
    z-index: 100; /* --pf-global--ZIndex--xs */
}

.z-xs-101 {
    z-index: 101;
}

.z-sm-200 {
    z-index: 200; /* --pf-global--ZIndex--sm */
}

.z-sm-201 {
    z-index: 201;
}

.z-md-300 {
    z-index: 300; /* --pf-global--ZIndex--md */
}

.z-md-301 {
    z-index: 301;
}

.z-lg-400 {
    z-index: 400; /* --pf-global--ZIndex--lg */
}

.z-lg-401 {
    z-index: 401;
}

.z-xl-500 {
    z-index: 500; /* --pf-global--ZIndex--xl */
}

.z-xl-501 {
    z-index: 501;
}

.z-2xl-600 {
    z-index: 600; /* --pf-global--ZIndex--2xl */
}

.z-2xl-601 {
    z-index: 601;
}
