/*
   This file is for temporary overrides as we migrate the app to PatternFly.

   We should have a goal of eventually being able to delete this file.
 */

body {
    font-family: var(--pf-global--FontFamily--sans-serif) !important;
}

.pf-c-page__main {
    --pf-c-page__main--ZIndex: auto;
}

.pf-c-page__sidebar {
    --pf-c-page__sidebar-body--PaddingTop: 0;
    --pf-c-page__sidebar--ZIndex: 50;
}

[data-testid='top-nav-btns'] {
    height: 4.75rem !important;
}

.pf-c-nav__link {
    align-items: center !important;
}

.pf-c-check__input {
    height: var(--pf-c-check__input--Height);
    width: var(--pf-c-check__input--Height);
}

.pf-c-select__toggle::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    /* replacing vars which are not coming through in pseudo element
        var(--pf-c-select__toggle--before--BorderTopColor)
        var(--pf-c-select__toggle--before--BorderRightColor)
        var(--pf-c-select__toggle--before--BorderBottomColor)
        var(--pf-c-select__toggle--before--BorderLeftColor);
    */
    border-color: #f0f0f0 #f0f0f0 #8a8d90 #f0f0f0 !important;
    border-style: solid !important;
    /* replacing vars which are not coming through in pseudo element
        var(--pf-c-select__toggle--before--BorderWidth);
    */
    border-width: 1px !important;
}

/* overriding our tailwind config default of display: block for images, because it breaks the patternfly layout */
.pf-c-button__icon.pf-m-start svg,
.pf-c-empty-state__content svg,
.pf-c-table__toggle-icon svg,
.pf-c-expandable-section__toggle-icon svg,
.pf-c-breadcrumb__item-divider svg {
    display: inline;
}

/* Global Search modal */
.search-modal .pf-c-tab-content {
    height: calc(100% - 112px) !important;
}

/* For classic components to equal or exceed z-index of PatternFly elements. */

.z-xs-100 {
    z-index: 100; /* --pf-global--ZIndex--xs */
}

.z-xs-101 {
    z-index: 101;
}

.z-sm-200 {
    z-index: 200; /* --pf-global--ZIndex--sm */
}

.z-sm-201 {
    z-index: 201;
}

.z-md-300 {
    z-index: 300; /* --pf-global--ZIndex--md */
}

.z-md-301 {
    z-index: 301;
}

.z-lg-400 {
    z-index: 400; /* --pf-global--ZIndex--lg */
}

.z-lg-401 {
    z-index: 401;
}

.z-xl-500 {
    z-index: 500; /* --pf-global--ZIndex--xl */
}

.z-xl-501 {
    z-index: 501;
}

.z-2xl-600 {
    z-index: 600; /* --pf-global--ZIndex--2xl */
}

.z-2xl-601 {
    z-index: 601;
}
