@import "../node_modules/slick-carousel/slick/slick.css";
@import "../node_modules/slick-carousel/slick/slick-theme.css";

:root {
    /* Theme-light */
    --theme-light-base: 220;
    --theme-light-primary: var(--theme-light-base);
    /* indigo */
    --theme-light-secondary: 250;
    --theme-light-accent: 308;
    --theme-light-highlight: 193;
    --theme-light-success: 165;
    --theme-light-danger: 350;
    --theme-light-low: 42;
    --theme-light-medium: 20;
    --theme-light-high: 358;
    --theme-light-s-0: 0%;
    --theme-light-s-10: 10%;
    --theme-light-s-20: 20%;
    --theme-light-s-30: 27%;
    --theme-light-s-40: 40%;
    --theme-light-s-50: 50%;
    --theme-light-s-60: 60%;
    --theme-light-s-70: 70%;
    --theme-light-s-80: 80%;
    --theme-light-s-90: 90%;
    --theme-light-s-100: 100%;
    --theme-light-l-0: 0%;
    --theme-light-l-10: 10%;
    --theme-light-l-20: 20%;
    --theme-light-l-30: 30%;
    --theme-light-l-40: 36%;
    --theme-light-l-50: 55%;
    --theme-light-l-60: 70%;
    --theme-light-l-70: 80%;
    --theme-light-l-80: 93%;
    --theme-light-l-90: 97%;
    --theme-light-l-100: 100%;
    /*---------------------------------------------------------------*/
    /* Theme-dark */
    --theme-dark-base: 230;
    --theme-dark-primary: 230;
    --theme-dark-secondary: 250;
    --theme-dark-accent: 308;
    --theme-dark-highlight: 193;
    --theme-dark-success: 165;
    --theme-dark-danger: 350;
    --theme-dark-low: 42;
    --theme-dark-medium: 20;
    --theme-dark-high: 358;
    --theme-dark-s-0: 0%;
    --theme-dark-s-10: 10%;
    --theme-dark-s-20: 20%;
    --theme-dark-s-30: 30%;
    --theme-dark-s-40: 40%;
    --theme-dark-s-50: 50%;
    --theme-dark-s-60: 60%;
    --theme-dark-s-70: 70%;
    --theme-dark-s-80: 80%;
    --theme-dark-s-90: 90%;
    --theme-dark-s-100: 97%;
    --theme-dark-l-0: 100%;
    --theme-dark-l-10: 90%;
    --theme-dark-l-20: 80%;
    --theme-dark-l-30: 70%;
    --theme-dark-l-40: 60%;
    --theme-dark-l-50: 50%;
    --theme-dark-l-60: 40%;
    --theme-dark-l-70: 30%;
    --theme-dark-l-80: 20%;
    --theme-dark-l-90: 10%;
    --theme-dark-l-100: 0%;
    /*---------------------------------------------------------------*/
    /* Active Theme */
    /* swatches */
    --base: var(--theme-light-base);
    --primary: var(--theme-light-primary);
    --secondary: var(--theme-light-secondary);
    --accent: var(--theme-light-accent);
    --highlight: var(--theme-light-highlight);
    --success: var(--theme-light-success);
    --danger: var(--theme-light-danger);
    --low: var(--theme-light-low);
    --medium: var(--theme-light-medium);
    --high: var(--theme-light-high);
    --white: var(--theme-light-white);
    --black: var(--theme-light-black);
    /* Saturation scale */
    --s-0: var(--theme-light-s-0);
    --s-10: var(--theme-light-s-10);
    --s-20: var(--theme-light-s-20);
    --s-30: var(--theme-light-s-30);
    --s-40: var(--theme-light-s-40);
    --s-50: var(--theme-light-s-50);
    --s-60: var(--theme-light-s-60);
    --s-70: var(--theme-light-s-70);
    --s-80: var(--theme-light-s-80);
    --s-90: var(--theme-light-s-90);
    --s-100: var(--theme-light-s-100);
    /* lightness scale */
    --l-0: var(--theme-light-l-0);
    --l-10: var(--theme-light-l-10);
    --l-20: var(--theme-light-l-20);
    --l-30: var(--theme-light-l-30);
    --l-40: var(--theme-light-l-40);
    --l-50: var(--theme-light-l-50);
    --l-60: var(--theme-light-l-60);
    --l-70: var(--theme-light-l-70);
    --l-80: var(--theme-light-l-80);
    --l-90: var(--theme-light-l-90);
    --l-100: var(--theme-light-l-100);
}

@tailwind preflight;

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

button:focus {
    outline: none;
}

button, select {
    @apply text-base-600 text-base font-600 appearance-none;
    line-height: 14px; /*weird render bug fix where select text gets clipped at bottom */
}

button[disabled] {
    @apply .opacity-50 .pointer-events-none;
}

.content-box {
    background-clip: content-box;
}

.pills {
    @apply flex flex-col flex-auto rounded-sm border border-base-300 .overflow-hidden;
}

@screen md {
    .pills {
        @apply flex-row;
    }
}

.shadow-underline {
    box-shadow: inset 0 -1px 0px 0 hsla(0, 0%, 0%, 0.10);
}

.disabled {
@apply opacity-50 cursor-not-allowed .pointer-events-none;
}

.border-collapse {
    border-collapse: collapse;
}

[class~=flex-1] {
@apply min-h-0;
/* Firefox needs this property to properly scroll panels with flex/overflow. Tailwind throws an exception error when using
their built-in classes, so this is a workaround to `bundle` the Firefox fix with every `flex-1` class by default*/
}

.word-break {
    word-break: break-word;
}

.word-break-all {
    word-break: break-all;
}

ul, ol, li, p, span, div, h1, h2, h3, h4, h5, h6 {
    @apply break-words;
}

.react-modal-overlay {
    @apply .fixed .pin-t .pin-l .w-full .h-full;
    background-color: hsla(0, 0%, 21%, 0.85);
}

.pill {
    @apply select-none bg-base-200 cursor-pointer p-2 m-2 rounded-sm .whitespace-no-wrap .flex-1 .text-center .text-xs .text-base-500 .font-600;
}

.pill-active {
    @apply .select-none .cursor-pointer .p-2 .m-2 .bg-base-300 .rounded-sm .whitespace-no-wrap .flex-1 .text-center .text-xs .text-base-700 .font-600;
}

.transition {
 animation: fadein .25s ease-in;
}

.transition-out {
 animation: fadeout .25s ease-out;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.tab {
     @apply text-base-600 uppercase p-3 text-sm tracking-wide;
}

.tab-active {
    @apply text-primary-600 bg-white rounded-t-sm;
    box-shadow: 0px -1px 0px 0px hsla(0, 0%, 0%, 0.10), 1px 0px 0px 0px hsla(0, 0%, 0%, 0.10), -1px 0px 0px 0px hsla(0, 0%, 0%, 0.10);
}

.tab:hover, .tab:focus {
    @apply text-primary-700;
}

.tab-active:hover, .tab-active:focus {
    @apply text-primary-600;
}

.pill:hover {
    @apply .text-primary-500;
}

.pill-active {
    @apply .text-primary-500;
}

.min-w-24 {
    min-width: 6rem !important;
}

.min-w-64 {
    min-width: 16rem !important;
}

.transform-rotate-half-turn {
    transform: rotate(0.5turn);
}

.login-border-t {
    background: linear-gradient(90deg, hsl(26, 94%, 73%) 0%, hsl(4, 100%, 82%) 44.95%, hsl(262, 85%, 74%) 100%);
    height: 5px;
}

.login-bg {
    background-image: url('images/login-stripes.svg');
    background-position: top left;
    background-repeat: no-repeat
}

.login-bg::before {
    background-image: url(images/login-stripes.svg);
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    bottom: 0;
    right: 0;
    content: "";
    transform: rotate(180deg);
    pointer-events: none;
}

.text-transparent {
    color: transparent;
}

.navigation-gradient {
    height: 2px;
    background-image: linear-gradient(90deg, #FBB078 0%, #FFA9A3 44%, #E584F5 99%);
}

.navigation-panel {
    position: absolute;
    left: 81px;
    z-index: 1001;
    top: 0;
    height: 100%;
     background-color: hsla(0, 0%, 21%, 0.85);
}

.navigation-panel ul {
    width: 270px;
}

.search-modal {
    position: absolute;
    left: 0;
    z-index: 10;
    top: 59px;
    height: 100%;
    background-color: hsla(230, 30%, 21%, 0.85);
    padding-bottom: 145px;
}

.search-option-categories {
    background-color: hsl(229, 89%, 96%);
    color: hsl(45, 4%, 35%);
    font-family: Open Sans;
    padding: 2px;
    border: 2px solid hsl(230, 81%, 90%);
}

.Select--multi .Select-value.Select-create-option-placeholder {
    background-color: hsl(228, 45%, 98%) !important;
    border: 1px solid hsl(229, 47%, 93%) !important;
    color: hsl(230, 20%, 40%) !important;
}

.slick-initialized.slick-slider, .slick-list, .slick-track {
    height:100%;
}

.carousel-prev-arrow, .carousel-next-arrow {
    position: absolute;
    top: -22%;
    z-index: 2;
}

.carousel-prev-arrow {
    left: 85%;
}

.carousel-next-arrow {
    left: 91%;
}

.recharts-responsive-container .recharts-tooltip-cursor{
    fill-opacity: 0.0;
}

.dashboard-benchmarks .carousel-prev-arrow, .dashboard-benchmarks .carousel-next-arrow {
    top: -5%;
}

.left-navigation {
    width: 81px;
}

.bg-global-search-empty-state {
    background-image: url('images/globalSearchEmptyState.svg');
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
}

.text-critical-severity {
    color: hsl(7, 50%, 55%);
}

.text-high-severity {
    color: hsl(349, 50%, 78%);
}

.Select-menu-outer .Select-create-option-placeholder {
    display: none;
}

/* to open react-select menu on top instead of below input */
.select-up .Select-menu-outer {
    position: absolute !important;
    top: auto !important;
    bottom: calc(100% - 1px) !important;
    border-radius: 5px 5px 0px 0px !important;
}

.select-up .is-open .Select-control {
    border-radius: 0px 0px 5px 5px !important;
}

.environment-grid-bg {
    background-color: rgba(157, 163, 193, 0.1);
    background-image: -webkit-linear-gradient(rgba(157, 163, 193, 0.3) 1px, transparent 1px), -webkit-linear-gradient(left, rgba(157, 163, 193, 0.3) 1px, transparent 1px), -webkit-linear-gradient(rgba(157, 163, 193, 0.3) 1px, transparent 1px), -webkit-linear-gradient(left, rgba(157, 163, 193, 0.2) 1px, transparent 1px);
    background-image: -o-linear-gradient(rgba(157, 163, 193, 0.3) 1px, transparent 1px), -o-linear-gradient(left, rgba(157, 163, 193, 0.3) 1px, transparent 1px), -o-linear-gradient(rgba(157, 163, 193, 0.3) 1px, transparent 1px), -o-linear-gradient(left, rgba(157, 163, 193, 0.2) 1px, transparent 1px);
    background-image: linear-gradient(rgba(157, 163, 193, 0.2) 1px, transparent 1px), linear-gradient(90deg, rgba(157, 163, 193, 0.2) 1px, transparent 1px), linear-gradient(rgba(157, 163, 193, 0.1) 1px, transparent 1px), linear-gradient(90deg, rgba(157, 163, 193, 0.1) 1px, transparent 1px);
    background-size: 20px 20px, 20px 20px, 4px 4px, 4px 4px;
    background-position: -2px -2px, -2px -2px, -2px -2px, -2px -2px;
}

.btn {
    @apply .flex .py-1 .px-1 .rounded-sm .font-600 .uppercase .text-center .text-sm .items-center .ml-2 .min-w-24 .justify-center .bg-white .border-2
}

.btn-icon {
    @apply .flex .py-2 .px-2 .rounded-sm .font-600 .uppercase .text-center .text-sm .items-center .ml-2 .justify-center .bg-white .border
}

.btn-success {
    @apply .text-success-600 .border-success-200
}

.btn-success:hover {
    @apply .btn-success .bg-success-100
}

.btn-danger {
    @apply .text-danger-600 .border-danger-200
}

.btn-danger:hover {
    @apply .btn-danger .bg-danger-100
}

.btn-primary {
    @apply .text-primary-600 .border-primary-200
}

.btn-primary:hover {
    @apply .btn-primary .bg-primary-100
}

.btn-base {
    @apply .text-base-600 .border-base-200
}

.btn-base:hover {
    @apply .btn-base .bg-base-100
}

/* Network Graph CSS Classes */

.btn-graph-refresh circle {
    fill: #3F4884;
    stroke: #3f4884;
}

.node circle {
    fill: hsl(232, 35%, 38%);
}

.node.internetAccess circle:first-child {
    fill: hsl(316, 93%, 89%);
}

/* React Table overrides */
.ReactTable .-pagination  {
    @apply .shadow-none .border-t .shadow-underline .pt-2 .pb-2 .pl-0 .pr-0
}

.ReactTable .rt-thead.-header {
    @apply .shadow-none
}

.ReactTable .rt-thead .rt-th.-sort-desc, .ReactTable .rt-thead .rt-th.-sort-asc {
    @apply .shadow-none;
}

.ReactTable .rt-thead .rt-th.-sort-desc div:after {
    content: ' ↓';
    position: absolute;
}

.ReactTable .rt-thead .rt-th.-sort-asc div:after {
    content: ' ↑';
    position: absolute;
}

.ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow):hover {
    @apply .bg-base-100
}

.ReactTable .rt-tbody .rt-tr-group {
    @apply .border-base-300
}

.ReactTable .-previous .-btn, .ReactTable .-next .-btn {
    @apply .bg-primary-100 .rounded-none .text-primary-600
}

.ReactTable .-previous .-btn:hover, .ReactTable .-next .-btn:hover {
    @apply .bg-primary-300 .text-white .rounded-none
}

@tailwind utilities;
