.collection-form-expandable-section {
  background-color: var(--pf-global--BackgroundColor--100);
  padding: var(	--pf-global--spacer--md);
}

.collection-form-expandable-section button.pf-c-expandable-section__toggle {
  align-items: center;
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-align: left;
}

.collection-form-expandable-section button.pf-c-expandable-section__toggle:focus {
  /* This blue outline on focus is a global problem, but it is especially jarring in this case */
  outline: none;
}