/*
 * Specify recommended padding for breadcrumb and title h1 in AccessControlHeading element.
 */
#access-control.pf-c-page__main-section {
    --pf-c-page__main-section--PaddingTop: 0;
}

#access-control .pf-c-breadcrumb {
    padding-top: var(--pf-global--spacer--md);
    padding-bottom: var(--pf-global--spacer--md);
}

#access-control h1 {
    padding-bottom: var(--pf-global--spacer--md);
}

/*
 * Bottom border mitigates left padding and separates generic page head from specific page body.
 */
#access-control .pf-c-nav.pf-m-tertiary {
    border-bottom-color: var(--pf-global--BorderColor--100);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

/*
 * Dropdown has (via className) font size compatible with Button.
 */
#access-control .pf-c-dropdown.pf-m-small {
    --pf-c-dropdown__toggle--FontSize: var(--pf-global--FontSize--sm);
    --pf-c-dropdown__menu-item--FontSize: var(--pf-global--FontSize--sm);
    --pf-c-dropdown__menu-item--PaddingTop: var(--pf-global--spacer--xs);
    --pf-c-dropdown__menu-item--PaddingBottom: var(--pf-global--spacer--xs);
}

/*
 * Dropdown has horizontal spacing compatible with Button,
 * also with its own menu items.
 */
#access-control .pf-c-dropdown {
    --pf-c-dropdown__toggle--PaddingLeft: var(--pf-global--spacer--md);
}

/*
 * Limit width (via className) of individual input elements.
 */
#access-control .pf-c-form-control.pf-m-limit-width {
    max-width: var(--pf-c-form--m-limit-width--MaxWidth);
}

/*
 * Omit 24px row-gap following toolbar because it also has 16px padding-bottom.
 */
#access-control .pf-c-toolbar {
    --pf-c-toolbar--RowGap: 0;
}

#access-control input[type='radio']:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}
