.network-graph.pf-v5-c-page__main-section.no-padding {
    --pf-v5-c-page__main-section--PaddingTop: 0;
    --pf-v5-c-page__main-section--PaddingBottom: 0;
    --pf-v5-c-page__main-section--PaddingLeft: 0;
    --pf-v5-c-page__main-section--PaddingRight: 0;
}

/* Prevent the network graph from overflowing the parent flex container */
.network-graph {
    min-height: 0;
    flex-shrink: 1;
}

/* Prevent the network graph from overflowing the parent flex container */
.pf-topology-container {
    min-height: 0;
}

/* simple solution to prevent user from making sidebar too narrow */
.pf-v5-c-drawer__panel.pf-m-resizable {
    min-width: 430px !important;
}

.pf-v5-c-drawer__panel .pf-v5-c-dropdown__toggle.pf-m-plain:not(.pf-m-text) {
    padding-left: var(--pf-v5-global--spacer--xs) !important;
    padding-right: var(--pf-v5-global--spacer--xs) !important;
}

/* Create a stacking context that is higher than the context for the network-graph-toolbar component
   that is rendered below this toolbar, so that the hierarchy dropdowns will render above everything when open */
.network-graph-selector-bar {
    z-index: 350;
}

/* Create a stacking context that is higher than the context for the react-topology component
   that is rendered below the toolbar, so that the search filter dropdown will render above the graph when open */
[data-testid="network-graph-toolbar"] {
    z-index: 250;
}

[data-testid="network-graph-toolbar"] .pf-search-shim,
[data-testid="network-graph-toolbar"] .react-select__menu {
    z-index: 250;
}

/* Restore grayed out background for disabled checkboxes */
.network-graph-selector-bar .pf-v5-c-check__input:disabled {
    background-color: rgba(59, 59, 59, 0.3);
}

div#topology-resize-panel table td {
    vertical-align: inherit;
}

.pf-topology-node-faded {
    opacity: 30%;
}

[data-id="External to cluster"] .pf-topology__group__label .pf-topology__node__label__background,
[data-id="Internal to cluster"] .pf-topology__group__label .pf-topology__node__label__background {
    fill: #6853ae;
}

.related-namespace.pf-m-selected text,
.related-namespace.pf-m-selected .pf-topology__node__action-icon svg {
    fill: #ffffff;
}

.related-namespace path.pf-topology__group__background {
    stroke-dasharray: 5;
}

.pf-v5-c-check__input {
    height: 16px;
    width: 16px;
}

.namespace-select .pf-v5-c-select__menu,
.deployment-select .pf-v5-c-select__menu {
    padding-top: 0;
    padding-bottom: 0;
    min-width: 220px;
}

.network-graph-menu-list {
    max-height: 320px;
    overflow-y: auto;
}

.pf-topology__node__label__badge {
    fill: #ffffff;
}
