.pf-ri__topology-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.pf-ri__topology-section .pf-v6-c-tab-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.pf-ri__topology-section .pf-v6-c-tab-content:focus {
    outline: none;
}

.pf-ri__topology-section .pf-v6-c-toolbar {
    --pf-v5-c-toolbar__expandable-content--lg--PaddingBottom: 0;
    --pf-v6-c-toolbar--PaddingBlockEnd: 0;
}

.pf-ri__topology-section .pf-v6-c-toolbar__item .pf-v6-l-flex {
    --pf-v6-l-flex--FlexWrap: no-wrap;
}

.pf-ri__topology-section .pf-v6-c-toolbar__item .pf-v6-l-flex>* {
    --pf-v6-l-flex--spacer: 8px;
}

/* override custom topology css when pf-m-space-items-none is specifically set on PF flex component */
.pf-ri__topology-section .pf-v6-l-flex.pf-m-space-items-none > * {
    --pf-v6-l-flex--spacer: 0px;
}

.pf-ri__topology-section .pf-v6-c-toolbar__item .pf-v6-c-form-control {
    width: 85px;
}

.pf-ri-topology-context-menu {
    z-index: 1050;
}

.pf-ri-topology-context-menu__kebab-wrapper.pf-v6-c-dropdown__menu-item {
    padding: 0;
}

.pf-ri__topology-section__package-input {
    width: 75px;
}

.pf-ri-topology__node__background {
    fill: var(--pf-t--temp--dev--tbd /* CODEMODS: original v5 color was:--pf-v5-global--palette--black-400 */);
    stroke-width: 1px;
    stroke: var(--pf-t--temp--dev--tbd /* CODEMODS: original v5 color was:--pf-v5-global--palette--black-1000 */);
}

.pf-ri-topology__node__background.pf-m-selected {
    fill: var(--pf-t--temp--dev--tbd /* CODEMODS: original v5 color was:--pf-v5-global--active-color--100 */);
}

.pf-ri-topology__node__background.pf-m-hover {
    fill: var(--pf-t--temp--dev--tbd /* CODEMODS: original v5 color was:--pf-v5-global--palette--green-300 */);
}

.pf-ri-topology__node__background.pf-m-drop-target {
    fill: var(--pf-t--temp--dev--tbd /* CODEMODS: original v5 color was:--pf-v5-global--palette--light-blue-200 */);
}

.pf-v6-c-page__main-section#\/topology-section-page-section,
.pf-v6-c-page__main-section#\/topology-pipelines-demo-page-section,
.pf-v6-c-page__main-section#\/topology-sidepanel-demo-page-section {
    --pf-v6-c-page__main-section--PaddingBlockStart: 0;
    --pf-v6-c-page__main-section--PaddingInlineEnd: 0;
    --pf-v6-c-page__main-section--PaddingInlineStart: 0;
    --pf-v6-c-page__main-section--PaddingBlockEnd: 0;
}

.pf-v6-c-tab-content[hidden] {
    display: none !important;
}

g.pf-topology__edge {
    cursor: default;
}

.pf-topology-control-bar .pf-v6-c-toolbar__group {
    display: flex;
    align-self: stretch;
}

.pf-topology-control-bar .pf-v6-c-toolbar__item, .pf-topology-control-bar button {
    height: 100%;
}

ul#edge-state-select {
    width: 270px;
}
