/*
 * Limit width of description.
 */
#mitre-attack-vectors-form-section {
    max-width: 50em;
}

/*
 * Cause id select and delete button grow to available width, 
 * limited by preceding rule, regardless of description width.
 */
#mitre-attack-vectors-form-section .pf-c-tree-view__node-container,
#mitre-attack-vectors-form-section .pf-c-tree-view__node-content {
    flex-grow: 1;
}

/*
 * Right align non-selected id same as selected id which has check mark at the right.
 */
#mitre-attack-vectors-form-section .pf-c-select {
    --pf-c-select__menu-item--PaddingRight: var(--pf-global--spacer--2xl); /* instead of md */
}

/*
 * Left align tactic select and description under the heading.
 * Right align delete button within available width.
 */

#mitre-attack-vectors-form-section .pf-c-tree-view__node {
    padding-left: 0;
    padding-right: 0;
}

#mitre-attack-vectors-form-section .pf-c-tree-view__node-container {
    padding-left: 0;
    padding-right: 0;
}

/*
 * Restore padding for techniques for indent under tactic.
 */

#mitre-attack-vectors-form-section .pf-c-tree-view__list-item .pf-c-tree-view__list-item .pf-c-tree-view__node {
    padding-left: var(--pf-c-tree-view__node--PaddingLeft);
}

#mitre-attack-vectors-form-section .pf-c-tree-view__list-item .pf-c-tree-view__list-item .pf-c-tree-view__node-container {
    padding-left: var(--pf-c-tree-view--m-compact__node-container--nested--PaddingLeft);
}

/*
 * Right align description with edge of id select.
 * Right align id select for add with edge of id select for replace (which has delete button at the right).
 */
#mitre-attack-vectors-form-section p,
#mitre-attack-vectors-form-section .pf-c-tree-view__list-item:last-child .pf-c-tree-view__node-container {
    padding-right: 64px;
}

/*
 * Align placeholder text or selected option text at left instead of center.
 * Provide full width for selected option.
 */
#mitre-attack-vectors-form-section .pf-c-select__toggle-text {
    text-align: left;
    width: 100%;
}

/*
 * Reduce padding above subtechniques to give the impression of a group under the preceding technique.
 */
#mitre-attack-vectors-form-section .pf-c-select__menu-item.mitre-subtechnique-option {
    padding-top: 0;
}

/*
 * Left indent name of subtechniques to give the impression of a group under the preceding technique.
 */
#mitre-attack-vectors-form-section .mitre-subtechnique-option .name {
    padding-left: 16px;
}

/*
 * Indicate overflow by ellipsis.
 */
#mitre-attack-vectors-form-section .name {
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*
 * Align tactic ids, for example: TA0123.
 * Pad id in case name is truncated.
 */
#mitre-attack-vectors-form-section .mitre-tactic-option .id {
    min-width: 5em;
    padding-left: 1em;
}

/*
 * Align technique and subtechnique ids, for example: T0123 and T0123.456.
 * Pad id in case name is truncated.
 */
#mitre-attack-vectors-form-section .mitre-subtechnique-option .id,
#mitre-attack-vectors-form-section .mitre-technique-option .id {
    min-width: 6em;
    padding-left: 1em;
}
