.attach-notifiers-section {
    width: 100%;
    border-top: 1px var(--pf-t--temp--dev--tbd /* CODEMODS: original v5 color was:--pf-v5-global--BorderColor--100 */) solid;
    padding-top: var(--pf-t--global--spacer--lg);
    padding-bottom: var(--pf-t--global--spacer--lg);
}

/* for med size screens, change the attach notifier section to wrap */
@media (min-width: 768px) {
    .attach-notifiers-section {
        width: 33%;
        border: none;
        padding: 0;
    }
}
