# # NOTE:
# # The Scanner v4 Indexer is not available in the secured clusters installed via roxctl.
#
# # Public configuration options for the StackRox Scanner v4 Indexer:
# # To run Scanner v4 in the secured cluster, you must connect the Scanner v4 to Sensor.
#
# # WARNING:
# #
# # Installing in the same namespace as Central is unsupported. In that environment,
# # Sensor will use the existing Scanner v4 Indexer deployed via CentralServices to scan cluster-local and delegated images.
#
# Image configuration for scanner v4:
# # For a complete example, see the `values-public.yaml.example` file.
# image:
#  # Configuration of the `scannerV4` image that is used by Scanner v4 Indexer.
#  scannerV4:
#    registry: null
#    name: null
#    tag: null
#    fullRef: null
#  # Configuration of the `scannerV4DB` image that is used by Scanner v4 DB.
#  scannerV4DB:
#    registry: null
#    name: null
#    tag: null
#    fullRef: null

#
# scannerV4:
#   # disable=false Deploys a StackRox Scanner v4 Indexer in the secured cluster to allow scanning images
#   # from registries accessible within the secured cluster.
#   disable: false
#   indexer:
#     # The number of replicas for the Scanner v4 Indexer deployment. If autoscaling is enabled (see below),
#     # this determines the initial number of replicas.
#     replicas: 3
#
#     # The log level for the scanner deployment. This typically does not need to be changed.
#     logLevel: INFO
#
#     # If you want to enforce Scanner v4 Indexer to only run on certain nodes, you can specify
#     # a node selector here to make sure it can only be scheduled on Nodes with the
#     # given label.
#     nodeSelector:
#       # This can contain arbitrary `label-key: label-value` pairs.
#       role: stackrox-scanner-v4
#
#     # If the nodes selected by the node selector are tainted,
#     # you can specify the corresponding taint tolerations here.
#     tolerations:
#     - effect: NoSchedule
#       key: infra
#       value: reserved
#     - effect: NoExecute
#       key: infra
#       value: reserved
#
#     # Configuration for autoscaling the Scanner v4 Indexer deployment.
#     autoscaling:
#       # disable=true causes autoscaling to be disabled. All other settings in this section
#       # will have no effect.
#       disable: false
#       # The minimum number of replicas for autoscaling. The following value is the default.
#       minReplicas: 2
#       # The maximum number of replicas for autoscaling. The following value is the default.
#       maxReplicas: 5
#
#     # Custom resource overrides for the Scanner v4 Indexer deployment.
#     resources:
#       requests:
#         memory: "1500Mi"
#         cpu: "1000m"
#       limits:
#         memory: "4Gi"
#         cpu: "2000m"
#
#   # DB CONFIGURATIONS
#   db:
#
#     # If you want to enforce Scanner v4 DB to only run on certain nodes, you can specify
#     # a node selector here to make sure v4 Scanner DB can only be scheduled on Nodes with the
#     # given label.
#     nodeSelector:
#       # This can contain arbitrary `label-key: label-value` pairs.
#       role: stackrox-scanner-v4
#
#     # If the nodes selected by the node selector are tainted,
#     # you can specify the corresponding taint tolerations here.
#     tolerations:
#     - effect: NoSchedule
#       key: infra
#       value: reserved
#     - effect: NoExecute
#       key: infra
#       value: reserved
#
#     # Custom resource overrides for the Scanner v4 DB deployment.
#     resources:
#       limits:
#         cpu: "2000m"
#         memory: "4Gi"
#       requests:
#         cpu: "200m"
#         memory: "200Mi"
