.rule-selector {
  --rule-selector-spacer: var(--pf-global--spacer--md);
  padding: var(--pf-global--spacer--lg);
  border: 1px solid var(--pf-global--BorderColor--100);
}

.rule-selector-list {
  border-left: solid 1px var(--pf-global--BorderColor--100);
  margin-left: var(--rule-selector-spacer);
}

.rule-selector-list-item {
  position: relative;
  display: flex;
  padding: var(--rule-selector-spacer) 0 0 var(--rule-selector-spacer);
}

.rule-selector-list-item:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: var(--rule-selector-spacer);
  height: 1px;
  width: var(--rule-selector-spacer);
  background-color: var(--pf-global--BorderColor--100);
}

.rule-selector-add-value-button {
  padding: var(--rule-selector-spacer) 0 0 calc(var(--rule-selector-spacer) * 2);
}

.rule-selector-label-rule-separator {
  display: flex;
  align-items: center;
  padding: var(--rule-selector-spacer) 0;
}

.rule-selector-label-rule-separator:after {
  border-bottom: 2px dashed var(--pf-global--Color--light-300);
  flex: 1 1 0;
  content: "";
  display: inline-block;
}
