/**
 * Global styles applicable to all components.
 */

html {
    line-height: 1.15;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul,
ol,
li,
p,
span,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
    @apply break-words !important;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button:focus {
    @apply outline-none !important;
}

button,
select {
    @apply text-base-600 text-base font-600 appearance-none !important;
    line-height: 14px; /*weird render bug fix where select text gets clipped at bottom */
}

button[disabled] {
    @apply opacity-50 pointer-events-none !important;
}

/**
 * Tooltips with tippy.js
 */
@import '~tippy.js/dist/tippy.css';

.rox-tooltip-overlay {
    @apply text-sm text-center text-base-600;
}

.tippy-content {
    @apply rounded p-0;
}

/* Styles below are heavily inspired by '~tippy.js/themes/light-border.css' */

.tippy-box {
    --background-color: var(--tertiary-200);
    --border-color: var(--tertiary-400);

    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    box-shadow: 0 4px 14px -2px rgba(0, 0, 0, 0.2);
}

.tippy-box > .tippy-arrow:after {
    content: '';
    position: absolute;
    z-index: -1;
    border-color: transparent;
    border-style: solid;
}

.tippy-box[data-placement^='top'] > .tippy-arrow:before {
    border-top-color: var(--background-color);
}
.tippy-box[data-placement^='top'] > .tippy-arrow:after {
    border-top-color: var(--border-color);
    border-width: 7px 7px 0;
    top: 17px;
    left: 1px;
}

.tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
    border-bottom-color: var(--background-color);
    bottom: 15px;
}
.tippy-box[data-placement^='bottom'] > .tippy-arrow:after {
    border-bottom-color: var(--border-color);
    border-width: 0px 7px 7px;
    bottom: 17px;
    left: 1px;
}

.tippy-box[data-placement^='left'] > .tippy-arrow:before {
    border-left-color: var(--background-color);
}
.tippy-box[data-placement^='left'] > .tippy-arrow:after {
    border-left-color: var(--border-color);
    border-width: 7px 0 7px 7px;
    left: 17px;
    top: 1px;
}

.tippy-box[data-placement^='right'] > .tippy-arrow:before {
    border-right-color: var(--background-color);
    right: 16px;
}
.tippy-box[data-placement^='right'] > .tippy-arrow:after {
    border-width: 7px 7px 7px 0;
    right: 17px;
    top: 1px;
    border-right-color: var(--border-color);
}
/** End of tooltip styles */
