/**
 * Global styles applicable to all components.
 */

html {
    line-height: 1.15;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul,
ol,
li,
p,
span,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
    @apply break-words !important;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button:focus {
    @apply outline-none !important;
}

button,
select {
    @apply text-base-600 text-base font-600 appearance-none !important;
    line-height: 14px; /*weird render bug fix where select text gets clipped at bottom */
}

button[disabled] {
    @apply opacity-50 pointer-events-none !important;
}

/**
 * Tooltips with tippy.js
 */
@import '~tippy.js/dist/tippy.css';

.rox-tooltip-overlay {
    @apply text-sm text-center text-base-600 z-10 bg-tertiary-200 rounded border border-tertiary-400;
}

.tippy-tooltip {
    --arrow-size: 7px; /* it's defined in tippy.css, just making it the same */
    --arrow-color: var(--tertiary-200);
    --arrow-border-color: var(--tertiary-400);
}

.tippy-content {
    @apply rounded shadow-md p-0;
}

.tippy-tooltip > .tippy-arrow:after,
.tippy-tooltip > .tippy-arrow:before {
    content: '';
    position: absolute;
    z-index: -1;
}

/* tippy arrow on the top */
.tippy-tooltip[data-placement^='top'] > .tippy-arrow {
    border-top-color: var(--arrow-color);
    bottom: calc(-1 * (var(--arrow-size) - 1px));
}

.tippy-tooltip[data-placement^='top'] > .tippy-arrow:after,
.tippy-tooltip[data-placement^='top'] > .tippy-arrow:before {
    left: calc(-1 * var(--arrow-size));
    border-left: var(--arrow-size) solid transparent;
    border-right: var(--arrow-size) solid transparent;
}

.tippy-tooltip[data-placement^='top'] > .tippy-arrow:after {
    border-top: var(--arrow-size) solid var(--arrow-color);
    top: calc(-1 * var(--arrow-size));
}

.tippy-tooltip[data-placement^='top'] > .tippy-arrow:before {
    border-top: var(--arrow-size) solid var(--arrow-border-color);
    bottom: -1px;
}

/* tippy-arrow at the bottom */
.tippy-tooltip[data-placement^='bottom'] > .tippy-arrow {
    border-bottom-color: var(--arrow-color);
    top: calc(-1 * (var(--arrow-size) - 1px));
}

.tippy-tooltip[data-placement^='bottom'] > .tippy-arrow:after,
.tippy-tooltip[data-placement^='bottom'] > .tippy-arrow:before {
    left: calc(-1 * var(--arrow-size));
    border-left: var(--arrow-size) solid transparent;
    border-right: var(--arrow-size) solid transparent;
}

.tippy-tooltip[data-placement^='bottom'] > .tippy-arrow:after {
    border-bottom: var(--arrow-size) solid var(--arrow-color);
    bottom: calc(-1 * var(--arrow-size));
}

.tippy-tooltip[data-placement^='bottom'] > .tippy-arrow:before {
    border-bottom: var(--arrow-size) solid var(--arrow-border-color);
    bottom: calc(-1 * (var(--arrow-size) - 1px));
}

/* tippy-arrow on the left */
.tippy-tooltip[data-placement^='left'] > .tippy-arrow {
    border-left-color: var(--arrow-color);
    right: calc(-1 * (var(--arrow-size) - 1px));
}

.tippy-tooltip[data-placement^='left'] > .tippy-arrow:after,
.tippy-tooltip[data-placement^='left'] > .tippy-arrow:before {
    top: calc(-1 * var(--arrow-size));
    border-top: var(--arrow-size) solid transparent;
    border-bottom: var(--arrow-size) solid transparent;
}

.tippy-tooltip[data-placement^='left'] > .tippy-arrow:after {
    border-left: var(--arrow-size) solid var(--arrow-color);
    left: calc(-1 * var(--arrow-size));
}

.tippy-tooltip[data-placement^='left'] > .tippy-arrow:before {
    border-left: var(--arrow-size) solid var(--arrow-border-color);
    left: calc(-1 * (var(--arrow-size) - 1px));
}

/* tippy-arrow on the right */
.tippy-tooltip[data-placement^='right'] > .tippy-arrow {
    border-right-color: var(--arrow-color);
    left: calc(-1 * (var(--arrow-size) - 1px));
}

.tippy-tooltip[data-placement^='right'] > .tippy-arrow:after,
.tippy-tooltip[data-placement^='right'] > .tippy-arrow:before {
    top: calc(-1 * var(--arrow-size));
    border-top: var(--arrow-size) solid transparent;
    border-bottom: var(--arrow-size) solid transparent;
}

.tippy-tooltip[data-placement^='right'] > .tippy-arrow:after {
    border-right: var(--arrow-size) solid var(--arrow-color);
    right: calc(-1 * var(--arrow-size));
}

.tippy-tooltip[data-placement^='right'] > .tippy-arrow:before {
    border-right: var(--arrow-size) solid var(--arrow-border-color);
    right: calc(-1 * (var(--arrow-size) - 1px));
}
/** End of tooltips styles */
