#search-page {
    height: 100%;
}

#search-page .pf-v6-l-stack__item:nth-child(1) {
    flex-shrink: 0; /* shrink is counterpart to grow for sibling */
}

#search-page .pf-v6-l-stack__item:nth-child(2) {
    overflow-y: hidden;
}

#search-page .pf-v6-l-split {
    height: 100%;
    max-height: 100%;
    overflow-y: hidden;
}

/*
 * Independent scrolling for category nav links at the left and search results table at the right.
 */
#search-page .pf-v6-l-split__item {
    overflow-y: scroll;
}

#search-page .pf-v6-l-split__item:nth-child(1) {
    flex-shrink: 0; /* shrink is counterpart to grow for sibling */
}

#search-page .pf-v6-c-nav__link {
    color: var(--pf-t--global--text--color--regular); /* instead of blue to avoid confusion with links in table */
    /* font-size and spacing of sub nav link which is compatible with table row */
    font-size: var(--pf-t--global--font--size--sm);
    padding-top: var(--pf-t--global--spacer--sm);
    padding-bottom: var(--pf-t--global--spacer--sm);
}
