[Unit]
Description=Run StackRox VM Agent periodically

[Timer]
OnBootSec=5min
# Shortening this interval results in more frequent scans and therefore more load,
# which, assuming the throughput continues to be limited by scanning capacity,
# reduces the number of VMs that Stackrox can handle.
# As of February 2026, one report every 4 h results in the default Stackrox deployment
# being able to handle around 4500 VMs, while one report every hour results in a
# capacity of around 1100 VMs. See the documentation for more details.
OnUnitActiveSec=3h40m
RandomizedDelaySec=40min
Persistent=true

[Install]
WantedBy=timers.target
