# See https://eslint.org/docs/user-guide/configuring#ignorepatterns-in-config-files for more about ignoring files.

# local build artifacts
/node_modules
/build
/coverage

# hidden configuration files
!.eslintrc.js
!.prettierrc.js
