# See https://prettier.io/docs/en/ignore.html for more about ignoring files.

# local build artifacts
/node_modules
/build
/coverage

# generated sources
/src/index.css

# for now also ignoring any non-code file
# TODO: eventually enable formatting for those files too
**/*.css
**/*.json
**/*.md
