## Iterate over operator versions passed by fleet-shard sync
{{- range .Values.operator.images }}
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: rhacs-operator
    control-plane: controller-manager
  ## Name field must contain up to 63 characters
  ## https://www.rfc-editor.org/rfc/rfc1123
  name: {{ .deploymentName | lower }}
  namespace: {{ $.Release.Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: rhacs-operator
      control-plane: controller-manager
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: rhacs-operator
        control-plane: controller-manager
    spec:
      containers:
        - args:
            - --secure-listen-address=0.0.0.0:8443
            - --upstream=http://127.0.0.1:8080/
            - --logtostderr=true
            - --v=0
          env:
            - name: ROX_OPERATOR_MAIN_REGISTRY
              value: quay.io/rhacs-eng
            - name: ROX_OPERATOR_COLLECTOR_REGISTRY
              value: quay.io/rhacs-eng
            - name: OPERATOR_CONDITION_NAME
              value: rhacs-operator.v3.74.0
          image: gcr.io/kubebuilder/kube-rbac-proxy:v0.13.0
          imagePullPolicy: IfNotPresent
          name: kube-rbac-proxy
          ports:
            - containerPort: 8443
              name: https
              protocol: TCP
          resources:
            limits:
              cpu: 2
              memory: 1Gi
            requests:
              cpu: 1
              memory: 200Mi
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
        - args:
            - --health-probe-bind-address=:8081
            - --metrics-bind-address=127.0.0.1:8080
            - --leader-elect
          env:
            - name: ENABLE_WEBHOOKS
              value: "false"
            - name: RELATED_IMAGE_MAIN
            - name: RELATED_IMAGE_SCANNER
            - name: RELATED_IMAGE_SCANNER_SLIM
            - name: RELATED_IMAGE_SCANNER_DB
            - name: RELATED_IMAGE_SCANNER_DB_SLIM
            - name: RELATED_IMAGE_COLLECTOR_SLIM
            - name: RELATED_IMAGE_COLLECTOR_FULL
            - name: RELATED_IMAGE_ROXCTL
            - name: RELATED_IMAGE_CENTRAL_DB
            - name: ROX_OPERATOR_MAIN_REGISTRY
              value: quay.io/rhacs-eng
            - name: ROX_OPERATOR_COLLECTOR_REGISTRY
              value: quay.io/rhacs-eng
            - name: MEMORY_LIMIT_BYTES
              valueFrom:
                resourceFieldRef:
                  containerName: manager
                  resource: limits.memory
                  divisor: '0'
            {{- if $.Values.operator.centralLabelSelector -}}
            - name: CENTRAL_LABEL_SELECTOR
              value: "rhacs.redhat.com/tag={{ substr 0 64 (lower .tag) }},rhacs.redhat.com/repository={{ substr 0 64 (lower .repository )}}"
            {{- end }}
          image: "{{ .repository }}:{{ .tag }}"
          imagePullPolicy: IfNotPresent
          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /healthz
              port: 8081
              scheme: HTTP
            initialDelaySeconds: 15
            periodSeconds: 20
            successThreshold: 1
            timeoutSeconds: 1
          name: manager
          ports:
            - containerPort: 9443
              name: webhook-server
              protocol: TCP
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /readyz
              port: 8081
              scheme: HTTP
            initialDelaySeconds: 5
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1
          resources:
            limits:
              cpu: 2
              memory: 1Gi
            requests:
              cpu: 1
              memory: 200Mi
          securityContext:
            allowPrivilegeEscalation: false
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext:
        runAsNonRoot: true
      serviceAccount: rhacs-operator-controller-manager
      serviceAccountName: rhacs-operator-controller-manager
      terminationGracePeriodSeconds: 10
---
{{- end }}
