@tailwind preflight;

.tab {
    @apply .p-2 .cursor-pointer .border-b .border-grey-light;
}

.tab:hover {
    @apply .bg-grey-lighter;
}

.tab-active {
    @apply .p-2 .cursor-pointer .border-l .border-r .border-t .border-b-0;
}

.border-collapse {
    border-collapse: collapse;
}

.m-0-auto {
    margin: 0 auto;
}

.h-95 {
    height: 95%;
}

.react-modal-overlay {
    @apply .fixed .pin-t .pin-l .w-full .h-full;
    background-color: hsla(0, 0%, 21%, 0.85);
}

@tailwind utilities;
