apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  labels:
    app: rhacs-operator
  name: rhacs-operator-metrics-reader
rules:
- nonResourceURLs:
  - /metrics
  verbs:
  - get
