.widget-grid {
  --min-widget-width: 510px;
  --grid-gutter: var(--pf-global--spacer--lg);
}

.widget-grid {
  display: grid;
  /* Allow the grid to expand to up to 3 columns including gutters */
  max-width: calc(calc(var(--min-widget-width) * 3) + calc(var(--grid-gutter) * 2));
  grid-gap: var(--grid-gutter);
  grid-auto-rows: max-content;
  grid-template-columns: repeat(auto-fill, minmax(var(--min-widget-width), auto));
}
