.microsoft-sentinel-form .pf-v5-c-form__section {
    box-shadow: var(--pf-v5-global--BoxShadow--sm);
    padding: var(--pf-v5-global--spacer--md);
}

.microsoft-sentinel-form .pf-v5-c-form__section-title {
    --pf-v5-c-form__section-title--FontSize: var(--pf-v5-global--FontSize--lg);
}
