{{- include "srox.init" . -}}
{{- if and (not ._rox.scannerV4.disable) (not ._rox.scannerV4.matcher.disable) -}}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: scanner-v4-matcher
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "srox.labels" (list . "networkpolicy" "scanner-v4-matcher") | nindent 4 }}
  annotations:
    {{- include "srox.annotations" (list . "networkpolicy" "scanner-v4-matcher") | nindent 4 }}
spec:
  podSelector:
    matchLabels:
      app: scanner-v4-matcher
  ingress:
  - from:
    - podSelector:
        matchLabels:
          app: central
    ports:
    - port: 8443
      protocol: TCP
  policyTypes:
  - Ingress

{{- if ._rox.scannerV4.exposeMonitoring -}}
---

apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: scanner-v4-matcher-monitoring
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "srox.labels" (list . "networkpolicy" "scanner-v4-matcher-monitoring") | nindent 4 }}
  annotations:
    {{- include "srox.annotations" (list . "networkpolicy" "scanner-v4-matcher-monitoring") | nindent 4 }}
spec:
  ingress:
  - ports:
    - port: 9090
      protocol: TCP
  podSelector:
    matchLabels:
      app: scanner-v4-matcher
  policyTypes:
  - Ingress
{{ end -}}
{{ end -}}
