{{- include "srox.init" . -}}
{{- if ._rox.scannerV4._indexerEnabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: scanner-v4-indexer
  namespace: {{ .Release.Namespace }}
  labels:
    app: scanner-v4-indexer
    {{- include "srox.labels" (list . "deployment" "scanner-v4-indexer") | nindent 4 }}
  annotations:
    {{- include "srox.annotations" (list . "deployment" "scanner-v4-indexer") | nindent 4 }}
spec:
  replicas: {{ ._rox.scannerV4.indexer.replicas }}
  minReadySeconds: 15
  selector:
    matchLabels:
      app: scanner-v4-indexer
  strategy:
    type: Recreate
  template:
    metadata:
      namespace: {{ .Release.Namespace }}
      labels:
        app: scanner-v4-indexer
        {{- include "srox.podLabels" (list . "deployment" "scanner-v4-indexer") | nindent 8 }}
      annotations:
        traffic.sidecar.istio.io/excludeInboundPorts: "8443"
        {{- include "srox.podAnnotations" (list . "deployment" "scanner-v4-indexer") | nindent 8 }}
    spec:
      {{- if ._rox.scannerV4.indexer._nodeSelector }}
      nodeSelector:
        {{- ._rox.scannerV4.indexer._nodeSelector | nindent 8 }}
      {{- end }}
      {{- if ._rox.scannerV4.indexer.tolerations }}
      tolerations:
        {{- toYaml ._rox.scannerV4.indexer.tolerations | nindent 8 }}
      {{- end }}
      affinity:
        {{- toYaml ._rox.scannerV4.indexer.affinity | nindent 8 }}
      containers:
      - name: indexer
        image: {{ ._rox.scannerV4.indexer.image.fullRef | quote }}
        env:
        - name: GOMEMLIMIT
          valueFrom:
            resourceFieldRef:
              resource: limits.memory
        - name: GOMAXPROCS
          valueFrom:
            resourceFieldRef:
              resource: limits.cpu
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
       {{- if ._rox.env.openshift }}
        - name: ROX_OPENSHIFT_API
          value: "true"
        {{- end }}
        - name: ROX_METRICS_PORT
          value: ":{{- ._rox.scannerV4.indexer.metricsPort -}}"
        {{- include "srox.envVars" (list . "deployment" "scanner-v4-indexer" "scanner-v4-indexer") | nindent 8 }}
        resources:
          {{- ._rox.scannerV4.indexer._resources | nindent 10 }}
        command:
        - entrypoint.sh
        - --conf=/etc/scanner/config.yaml
        ports:
        - name: grpc
          containerPort: 8443
        {{ if ._rox.scannerV4.exposeMonitoring -}}
        - name: monitoring
          containerPort: {{ ._rox.scannerV4.indexer.metricsPort }}
        {{- end}}
        securityContext:
          capabilities:
            drop: ["NET_RAW"]
          runAsNonRoot: true
          runAsUser: 65534
# TODO(mclamei): Enable when the grpc healthcheck in indexer works.
#
# {{ if semverCompare ">= 1.24.0" ._rox._apiServer.version }}
#         readinessProbe:
#           grpc:
#             port: 8443
#           timeoutSeconds: 10
#           periodSeconds: 10
#           failureThreshold: 6
#           successThreshold: 1
# {{- end }}
        volumeMounts:
        - name: additional-ca-volume
          mountPath: /usr/local/share/ca-certificates/
          readOnly: true
        - name: etc-ssl-volume
          mountPath: /etc/ssl
        - name: etc-pki-volume
          mountPath: /etc/pki/ca-trust
        - name: tls-volume
          mountPath: /run/secrets/stackrox.io/certs/
          readOnly: true
        - name: config-volume
          mountPath: /etc/scanner
          readOnly: true
        - name: proxy-config-volume
          mountPath: /run/secrets/stackrox.io/proxy-config/
          readOnly: true
        - name: tmp-volume
          mountPath: /tmp
        - name: db-password
          mountPath: /run/secrets/stackrox.io/secrets
          readOnly: true
        {{- include "srox.injectedCABundleVolumeMount" . | nindent 8 }}
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
      serviceAccountName: scanner-v4
      volumes:
      - name: additional-ca-volume
        secret:
          optional: true
          {{- if ._rox.env.centralServices }}
          secretName: additional-ca
          {{- else }}
          {{- include "srox.fail" "Internal error: failed to setup additional-ca-volume for Scanner V4 Indexer due to undefined StackRox environment" }}
          {{- end }}
      - name: etc-ssl-volume
        emptyDir: {}
      - name: etc-pki-volume
        emptyDir: {}
      - name: tls-volume
        secret:
          secretName: scanner-v4-indexer-tls
      - name: config-volume
        configMap:
          name: scanner-v4-indexer-config
      - name: proxy-config-volume
        secret:
          secretName: proxy-config
          optional: true
      - name: tmp-volume
        emptyDir: {}
      - name: db-password
        secret:
          secretName: scanner-v4-db-password
      {{- include "srox.injectedCABundleVolume" . | nindent 6 }}
{{- end }}
