/* Render as grid row in Masthead element above toggle, main, and content elements. */
.pf-v6-c-masthead .Toastify,
.pf-v6-c-masthead .pf-v6-c-banner {
    grid-column-start: 1;
    grid-column-end: -1; /* from end, independent of number of columns */
}
