#policy-page + section .pf-v6-c-wizard__footer {
    box-shadow: var(--pf-t--global--box-shadow--sm--top);
}

div.pf-v6-c-wizard__main-body {
    display: flex;
    flex-direction: column;
    height: 100%;
}
