.resource-icon {
  background-color: var(--color-resource-default);
  display: inline-block;
  color: var(--pf-global--palette--white);
  border-radius: 20px;
  padding: 1px 6px;
  text-align: center;
  vertical-align: 1px;
  margin-right: var(--pf-global--spacer--xs);
  font-size: var(--pf-global--FontSize--xs);
}

.resource-icon-cluster {
  background-color: var(--color-resource-cluster);
}

.resource-icon-namespace {
  background-color: var(--color-resource-namespace);
}

.resource-icon-deployment {
  background-color: var(--color-resource-deployment);
}
