# These versions should match those used in the current CI test image.
# See .github/workflows/{lint,style}.yaml for that.
# And the stackrox/rox-ci-image repo for the original source and pinned versions. 
pycodestyle==2.10.0
autopep8
pylint==2.13.9
