.loading-section.pf-m-light .pf-v6-c-spinner {
  --pf-v6-c-spinner--Color: var(--pf-t--temp--dev--tbd /* CODEMODS: original v5 color was:--pf-v5-global--Color--light-100 */);
}

.loading-section.pf-m-light  > div {
  color: var(--pf-t--temp--dev--tbd /* CODEMODS: original v5 color was:--pf-v5-global--Color--light-100 */);
}


.loading-section.pf-m-dark .pf-v6-c-spinner {
  --pf-v6-c-spinner--Color: var(--pf-t--temp--dev--tbd /* CODEMODS: original v5 color was:--pf-v5-global--Color--dark-100 */);
}

.loading-section.pf-m-dark  > div {
  color: var(--pf-t--temp--dev--tbd /* CODEMODS: original v5 color was:--pf-v5-global--Color--dark-100 */);
}
