.loading-section.pf-m-light .pf-v6-c-spinner {
  --pf-v6-c-spinner--Color: var(--pf-t--global--text--color--inverse);
}

.loading-section.pf-m-light  > div {
  color: var(--pf-t--global--text--color--inverse);
}


.loading-section.pf-m-dark .pf-v6-c-spinner {
  --pf-v6-c-spinner--Color: var(--pf-t--global--text--color--regular);
}

.loading-section.pf-m-dark  > div {
  color: var(--pf-t--global--text--color--regular);
}
