{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier"
  ],
  "plugins": [
    "prettier",
    "mocha",
    "react-hooks"
  ],  
  "rules": {
    "prettier/prettier": ["error", {
      "printWidth": 100,
      "singleQuote": true,
      "tabWidth": 4
    }],

    "jsx-a11y/label-has-for": [ "error", {
      "required": {
        "some": [ "nesting", "id"  ]
      }
    }],

    "mocha/no-exclusive-tests": "error",

    "import/no-extraneous-dependencies": [ "error", {
      "devDependencies": [
          "**/*.test.js",
          "cypress/**",
          "src/setupTests.js",
          "src/setupProxy.js"
      ],
      "optionalDependencies": false
    }],

    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
