{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier"
  ],
  "plugins": [
    "prettier",
    "mocha"
  ],  
  "rules": {
    "prettier/prettier": ["error", {
      "printWidth": 100,
      "singleQuote": true,
      "tabWidth": 4
    }],
    "mocha/no-exclusive-tests": "error"
  }
}
