# dependencies
node_modules/
/monorepo.lock
/monorepo.lock.sha256

# build
lint
/build
test-results
.eslintcache

# development
.vscode
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log

# test

# certexpiration.test.js
apps/platform/cypress/downloads/

# misc
.DS_Store

# cursor rules
# we want to ignore all cursor rules while we are working expermenting with them
.cursor/
.cursorrules/
