# dependencies
node_modules/
/monorepo.lock
/monorepo.lock.sha256

# build
lint
/build
test-results

# development
.vscode
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log

# misc
.DS_Store
