# dependencies
node_modules/

# build
lint
/build
/apps/platform/build

# development
.vscode
npm-debug.log*

# test
/apps/platform/cypress/downloads/
/apps/platform/cypress/test-results
/apps/platform/test-results

# misc
.DS_Store

# AI rules
# we want to ignore all AI rules while we are experimenting with them
.cursor/
.cursorrules/
CLAUDE.md
GEMINI.md

# AI workspace
# general purpose directory for AI development tools (Claude, Cursor, Gemini, etc.)
/ai-workspace
