# More info: https://docs.docker.com/engine/reference/builder/#dockerignore-file
# Ignore all files which are not go type
!**/*.go
!**/*.mod
!**/*.sum

Dockerfile
.dockerignore
*/.gitignore
*/Makefile
*/bin
*/testbin
*/cover.out
!/bin/linux/amd64
!/bin/linux/arm64
!/bin/linux/ppc64le
!/bin/linux/s390x
