.view-all-button.pf-m-small {
    --pf-c-button--PaddingTop: 4px;
    --pf-c-button--PaddingRight: 8px;
    --pf-c-button--PaddingBottom: 4px;
    --pf-c-button--PaddingLeft: 8px;
    --pf-c-button--FontSize: 12px;
}
