.pf-c-button.pf-m-tertiary.pf-m-small {
    --pf-c-button--PaddingRight: var(--pf-global--spacer--form-element);
    --pf-c-button--PaddingLeft: var(--pf-global--spacer--form-element);
    --pf-c-button--m-tertiary--after--BorderColor: var(--base-600);
    --pf-c-button--m-tertiary--Color: var(--base-600);
}

.pf-c-button.pf-m-tertiary:active,
.pf-c-button.pf-m-tertiary:focus,
.pf-c-button.pf-m-tertiary:hover {
    --pf-c-button--after--BorderColor: var(--base-700);
    --pf-c-button--m-tertiary--Color: var(--base-700);
}
