{{- include "srox.init" . -}}

{{- if and ._rox._ca ._rox.central._serviceTLS ._rox.central._jwtSigner -}}

apiVersion: v1
kind: Secret
metadata:
  name: central-tls
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "srox.labels" (list . "secret" "central-tls") | nindent 4 }}
  annotations:
    {{- include "srox.annotations" (list . "secret" "central-tls") | nindent 4 }}
    "helm.sh/hook": "pre-install,pre-upgrade"
    "helm.sh/resource-policy": "keep"
type: Opaque
stringData:
  ca.pem: |
    {{- ._rox._ca.Cert | nindent 4 }}
  ca-key.pem: |
    {{- ._rox._ca.Key | nindent 4 }}
  jwt-key.pem: |
    {{- ._rox.central._jwtSigner.Key | nindent 4 }}
  cert.pem: |
    {{- ._rox.central._serviceTLS.Cert | nindent 4 }}
  key.pem: |
    {{- ._rox.central._serviceTLS.Key | nindent 4 }}

{{- else if or ._rox.central._serviceTLS ._rox.central._jwtSigner }}
{{ include "srox.fail" "Service TLS certificates and/or JWT signer key can only be created/updated if all data AND the service CA are present/specified." }}
{{- end }}
