apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: mock-sensor-${NAME}
  namespace: stackrox
  labels:
    app: mocksensor-${NAME}
  annotations:
    owner: stackrox
    email: support@stackrox.com
spec:
  replicas: 1
  minReadySeconds: 15
  selector:
    matchLabels:
      app: mocksensor-${NAME}
  template:
    metadata:
      namespace: stackrox
      labels:
        app: mocksensor-${NAME}
    spec:
      imagePullSecrets:
        - name: stackrox
      containers:
      - image: stackrox/scale:${MAIN_IMAGE_TAG}
        name: mocksensor
        command:
          - /mocksensor
        args: ${ARGS}
        volumeMounts:
        - name: varlog
          mountPath: /var/log/stackrox/
        - name: certs
          mountPath: /run/secrets/stackrox.io/certs/
          readOnly: true
      volumes:
      - name: certs
        secret:
          secretName: sensor-tls-${NAME}
          items:
          - key: sensor-cert.pem
            path: cert.pem
          - key: sensor-key.pem
            path: key.pem
          - key: ca.pem
            path: ca.pem
      - name: varlog
        emptyDir: {}
