name: auto-merge

on:
  pull_request_target:
    types:
    - labeled

permissions:
  pull-requests: write
  contents: write

jobs:
  auto-merge:
    name: Auto-merge any version bumps
    runs-on: ubuntu-latest
    if: github.actor == 'dependabot[bot]' && contains(github.event.label.name, 'auto-merge')
    steps:
    - name: Dependabot metadata
      id: dependabot-metadata
      uses: dependabot/fetch-metadata@v2
    - name: Enable auto-merge for Dependabot PRs
      if: ${{ github.event.label.name == 'auto-merge-any' || steps.dependabot-metadata.outputs.update-type == 'version-update:semver-minor' || steps.dependabot-metadata.outputs.update-type == 'version-update:semver-patch' }}
      run: |
        gh pr review --approve "$PR_URL"
        gh pr merge --auto --merge "$PR_URL"
      env:
        PR_URL: ${{github.event.pull_request.html_url}}
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
