name: Batch load test metrics
on:
  workflow_dispatch:
  schedule:
  - cron: 23 * * * *

# Ensure that only a single batch loader is running
concurrency: Batch load test metrics

jobs:
  define-ci-versions:
    uses: ./.github/workflows/define-ci-versions.yaml

  batch-load-test-metrics:
    if:  ${{ github.repository_owner == 'stackrox' }}
    runs-on: ubuntu-latest
    needs: define-ci-versions
    container:
      image: ${{ needs.define-ci-versions.outputs.apollo-ci-test-image }}
    steps:
    - name: Checkout
      uses: actions/checkout@v5
    - name: Load
      env:
        GCP_SERVICE_ACCOUNT_STACKROX_CI: ${{ secrets.GCP_SERVICE_ACCOUNT_STACKROX_CI }}
      shell: bash
      run: |
        source scripts/ci/lib.sh

        setup_gcp
        batch_load_test_metrics
