name: Build
on:
  workflow_call:
  push:
    tags:
    - '*-nightly-*'
    branches:
    - master
  pull_request:
    types:
    - opened
    - reopened
    - synchronize

jobs:
  pre-build-ui:
    strategy:
      matrix:
        branding: [ RHACS_BRANDING, STACKROX_BRANDING ]
    env:
      ROX_PRODUCT_BRANDING: ${{ matrix.branding }}
    runs-on: ubuntu-latest
    container:
      image: quay.io/stackrox-io/apollo-ci:stackrox-test-0.3.57.1
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}

      - uses: ./.github/actions/job-preamble

      - uses: ./.github/actions/create-concatenated-ui-monorepo-lock

      - uses: ./.github/actions/cache-ui-dependencies

      - uses: ./.github/actions/handle-tagged-build

      - name: Fetch UI deps
        run: make -C ui deps

      - name: Build UI
        run: make -C ui build

      - uses: actions/upload-artifact@v3
        with:
          name: ui-${{env.ROX_PRODUCT_BRANDING}}-build
          path: |
            ui/build
            ui/monorepo.lock

  pre-build-cli:
    runs-on: ubuntu-latest
    container:
      image: quay.io/stackrox-io/apollo-ci:stackrox-test-0.3.57.1
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}

      - uses: ./.github/actions/job-preamble

      - name: Cache Go dependencies
        uses: ./.github/actions/cache-go-dependencies

      - uses: ./.github/actions/handle-tagged-build

      - name: Build CLI
        run: make cli

      - name: Bundle build to preserve permissions
        run: tar -cvzf cli-build.tgz bin

      - uses: actions/upload-artifact@v3
        with:
          name: cli-build
          path: cli-build.tgz
  pre-build-go-binaries:
    runs-on: ubuntu-latest
    container:
      image: quay.io/stackrox-io/apollo-ci:stackrox-test-0.3.57.1
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}

      - uses: ./.github/actions/job-preamble

      - name: Cache Go dependencies
        uses: ./.github/actions/cache-go-dependencies

      - uses: ./.github/actions/handle-tagged-build

      - name: PR labels
        uses: joerick/pr-labels-action@v1.0.7

      - name: Setup Go build environment
        if: contains(github.event.pull_request.labels.*.name, 'ci-release-build')
        run: echo "GOTAGS=release" >> "$GITHUB_ENV"

      - name: Build Go Binaries
        run: make build-prep main-build-nodeps

      - name: Bundle the build to preserve permissions
        run: tar -cvzf go-binaries-build.tgz bin/linux_amd64

      - uses: actions/upload-artifact@v3
        with:
          name: go-binaries-build
          path: go-binaries-build.tgz
  pre-build-go-binaries-rcd:
    runs-on: ubuntu-latest
    container:
      image: quay.io/stackrox-io/apollo-ci:stackrox-test-0.3.57.1
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
        ref: ${{ github.event.pull_request.head.sha }}

    - uses: ./.github/actions/job-preamble

    - name: Cache Go dependencies
      uses: ./.github/actions/cache-go-dependencies

    - uses: ./.github/actions/handle-tagged-build

    - name: PR labels
      uses: joerick/pr-labels-action@v1.0.7

    - name: Setup Go build environment
      run: |
        if [[ -n "$GITHUB_PR_LABEL_CI_RELEASE_BUILD" ]]; then
          cci-export GOTAGS release
        fi
        echo "GOTAGS: ${GOTAGS:-}"

    - name: Build Go Binaries
      run: make RACE=true build-prep main-build-nodeps

    - name: Bundle the build to preserve permissions
      run: tar -cvzf go-binaries-build-rcd.tgz bin/linux_amd64

    - uses: actions/upload-artifact@v3
      with:
        name: go-binaries-build-rcd
        path: go-binaries-build-rcd.tgz
  pre-build-docs:
    runs-on: ubuntu-latest
    container:
      image: quay.io/stackrox-io/apollo-ci:stackrox-test-0.3.57.1
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}

      - uses: ./.github/actions/job-preamble

      - name: Cache Go dependencies
        uses: ./.github/actions/cache-go-dependencies

      - uses: ./.github/actions/handle-tagged-build

      - name: Resolve mods for protos
        run: go mod tidy

      - name: Generate the swagger docs
        run: |
          make swagger-docs
          # Workarround to handle https://github.com/actions/cache/issues/753
          rm -rf .proto

      - uses: actions/upload-artifact@v3
        with:
          name: docs-build
          path: |
            image/docs

  build-and-push-main:
    runs-on: ubuntu-latest
    needs:
      - pre-build-ui
      - pre-build-cli
      - pre-build-go-binaries
      - pre-build-docs
    strategy:
      matrix:
        branding: [ RHACS_BRANDING, STACKROX_BRANDING ]
    env:
      ROX_PRODUCT_BRANDING: ${{ matrix.branding }}
    container:
      image: quay.io/stackrox-io/apollo-ci:stackrox-test-0.3.57.1
      env:
        QUAY_RHACS_ENG_RO_USERNAME: ${{ secrets.QUAY_RHACS_ENG_RO_USERNAME }}
        QUAY_RHACS_ENG_RO_PASSWORD: ${{ secrets.QUAY_RHACS_ENG_RO_PASSWORD }}
        QUAY_RHACS_ENG_RW_USERNAME: ${{ secrets.QUAY_RHACS_ENG_RW_USERNAME }}
        QUAY_RHACS_ENG_RW_PASSWORD: ${{ secrets.QUAY_RHACS_ENG_RW_PASSWORD }}
        QUAY_STACKROX_IO_RW_USERNAME: ${{ secrets.QUAY_STACKROX_IO_RW_USERNAME }}
        QUAY_STACKROX_IO_RW_PASSWORD: ${{ secrets.QUAY_STACKROX_IO_RW_PASSWORD }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}

      - uses: ./.github/actions/job-preamble

      - name: Checkout submodules
        run: |
            git submodule update --init

      - uses: ./.github/actions/handle-tagged-build

      - uses: actions/download-artifact@v3
        with:
          name: ui-${{env.ROX_PRODUCT_BRANDING}}-build
          path: ui

      - uses: actions/download-artifact@v3
        with:
          name: cli-build

      - name: Unpack cli build
        run: |
          tar xvzf cli-build.tgz

      - uses: actions/download-artifact@v3
        with:
          name: go-binaries-build

      - name: Unpack Go binaries build
        run: |
          tar xvzf go-binaries-build.tgz

      - uses: actions/download-artifact@v3
        with:
          name: docs-build
          path: image/docs

      - uses: ./.github/actions/create-concatenated-ui-monorepo-lock

      # needed to restore node_modules for ossls-nostice
      - uses: ./.github/actions/cache-ui-dependencies

      # explicitly fetch deps just in case cache was not ready
      - name: Fetch UI deps
        run: make -C ui deps

      - name: Generate OSS notice
        run: make ossls-notice

      - name: Build main images
        run: make docker-build-main-image

      - name: Check debugger presence in the main image
        run: make check-debugger

      - name: Build roxctl image
        run: make docker-build-roxctl-image

      # needed for docs ensure_image.sh initial pull with RHACS_BRANDING
      - name: Docker login
        # Skip for external contributions.
        if: |
          github.event_name == 'push' || !github.event.pull_request.head.repo.fork
        run: |
          docker login -u "${QUAY_RHACS_ENG_RO_USERNAME}" --password-stdin quay.io <<<"${QUAY_RHACS_ENG_RO_PASSWORD}"

      - name: Push images
        # Skip for external contributions.
        if: |
          github.event_name == 'push' || !github.event.pull_request.head.repo.fork
        run: |
            source ./scripts/ci/lib.sh
            echo "Will determin context from: ${{ github.event_name }} & ${{ github.ref_name }}"
            push_context=""
            if [[ "${{ github.event_name }}" == "push" && "${{ github.ref_name }}" == "master" ]]; then
              push_context="merge-to-master"
            fi
            push_main_image_set "$push_context" "${{ env.ROX_PRODUCT_BRANDING }}"

      - name: Push matching collector and scanner images
        # Skip for external contributions.
        if: |
          github.event_name == 'push' || !github.event.pull_request.head.repo.fork
        run: |
            source ./scripts/ci/lib.sh
            push_matching_collector_scanner_images "${{ env.ROX_PRODUCT_BRANDING }}"

      - name: Comment on the PR
        # Skip for external contributions.
        if: |
          github.event_name == 'push' || !github.event.pull_request.head.repo.fork
        env:
          GITHUB_TOKEN: "${{ secrets.ROBOT_ROX_GITHUB_TOKEN }}"
        run: |
            source ./scripts/ci/lib.sh
            add_build_comment_to_pr

  build-and-push-main-rcd:
    runs-on: ubuntu-latest
    needs:
    - pre-build-ui
    - pre-build-cli
    - pre-build-go-binaries-rcd
    - pre-build-docs
    strategy:
      matrix:
        branding: [ RHACS_BRANDING ]
    env:
      ROX_PRODUCT_BRANDING: ${{ matrix.branding }}
    container:
      image: quay.io/stackrox-io/apollo-ci:stackrox-test-0.3.57.1
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
        ref: ${{ github.event.pull_request.head.sha }}

    - uses: ./.github/actions/job-preamble

    - name: Checkout submodules
      run: |
        git submodule update --init

    - uses: ./.github/actions/handle-tagged-build

    - uses: actions/download-artifact@v3
      with:
        name: ui-${{env.ROX_PRODUCT_BRANDING}}-build
        path: ui

    - uses: actions/download-artifact@v3
      with:
        name: cli-build

    - name: Unpack cli build
      run: |
        tar xvzf cli-build.tgz

    - uses: actions/download-artifact@v3
      with:
        name: go-binaries-build-rcd

    - name: Unpack Go binaries build
      run: |
        tar xvzf go-binaries-build-rcd.tgz

    - uses: actions/download-artifact@v3
      with:
        name: docs-build
        path: image/docs

    - uses: ./.github/actions/create-concatenated-ui-monorepo-lock

    # needed to restore node_modules for ossls-nostice
    - uses: ./.github/actions/cache-ui-dependencies

    # explicitly fetch deps just in case cache was not ready
    - name: Fetch UI deps
      run: make -C ui deps

    - name: Generate OSS notice
      run: make ossls-notice

    - name: Get tag
      id: tag
      run: |
        echo "TAG=$(make --quiet tag)" >> "$GITHUB_OUTPUT"

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Build main images
      run: make docker-build-main-image

    - name: Login to quay.io/rhacs-eng
      if: |
        github.event_name == 'push' || !github.event.pull_request.head.repo.fork
      uses: docker/login-action@v2
      with:
        registry: quay.io
        username: ${{ secrets.QUAY_RHACS_ENG_RW_USERNAME }}
        password: ${{ secrets.QUAY_RHACS_ENG_RW_PASSWORD }}

    - name: Push to quay.io/rhacs-eng
      uses: docker/build-push-action@v4
      if: |
        github.event_name == 'push' || !github.event.pull_request.head.repo.fork
      with:
        push: true
        context: image/rhel
        build-args: |
          ROX_PRODUCT_BRANDING=${{ env.ROX_PRODUCT_BRANDING }}
        file: image/rhel/Dockerfile.gen
        tags: quay.io/rhacs-eng/main:${{ steps.tag.outputs.TAG }}-rcd

  build-and-push-operator:
    runs-on: ubuntu-latest
    container:
      image: quay.io/stackrox-io/apollo-ci:stackrox-test-0.3.57.1
      env:
        QUAY_RHACS_ENG_RW_USERNAME: ${{ secrets.QUAY_RHACS_ENG_RW_USERNAME }}
        QUAY_RHACS_ENG_RW_PASSWORD: ${{ secrets.QUAY_RHACS_ENG_RW_PASSWORD }}
    strategy:
      matrix:
        branding: [ RHACS_BRANDING ]
    env:
      ROX_PRODUCT_BRANDING: ${{ matrix.branding }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}

      - uses: ./.github/actions/job-preamble

      - name: Cache Go dependencies
        uses: ./.github/actions/cache-go-dependencies

      - uses: ./.github/actions/handle-tagged-build

      - name: Resolve mods for protos
        run: go mod tidy

      - name: PR labels
        uses: joerick/pr-labels-action@v1.0.7

      - name: Setup Go build environment
        if: contains(github.event.pull_request.labels.*.name, 'ci-release-build')
        run: echo "GOTAGS=release" >> "$GITHUB_ENV"

      - name: Docker login
        # Skip for external contributions.
        if: |
          github.event_name == 'push' || !github.event.pull_request.head.repo.fork
        run: |
            docker login -u "${QUAY_RHACS_ENG_RW_USERNAME}" --password-stdin quay.io <<<"${QUAY_RHACS_ENG_RW_PASSWORD}"

      - name: Build Operator Bundle image
        run: |
          make -C operator/ bundle bundle-build

      - name: Build Operator image
        run: make -C operator/ build docker-build

      - name: Check that Operator image is runnable
        run: docker run --rm "quay.io/rhacs-eng/stackrox-operator:$(make --quiet -C operator tag)" --help

      - name: Push images
        # Skip for external contributions.
        if: |
          github.event_name == 'push' || !github.event.pull_request.head.repo.fork
        run: |
          make -C operator/ docker-push docker-push-bundle | cat

      # Index image can only be built once bundle was pushed
      - name: Build index
        # Skip for external contributions as the build relies on the previous image to be pushed.
        if: |
          github.event_name == 'push' || !github.event.pull_request.head.repo.fork
        run: |
          make -C operator/ index-build

      - name: Push index image
        # Skip for external contributions.
        if: |
          github.event_name == 'push' || !github.event.pull_request.head.repo.fork
        run: |
          make -C operator/ docker-push-index | cat

  build-and-push-mock-grpc-server:
    runs-on: ubuntu-latest
    container:
      image: quay.io/stackrox-io/apollo-ci:stackrox-test-0.3.57.1
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
        ref: ${{ github.event.pull_request.head.sha }}

    - uses: ./.github/actions/job-preamble

    - name: Cache Go dependencies
      uses: ./.github/actions/cache-go-dependencies

    - uses: ./.github/actions/handle-tagged-build

    - name: Get tag
      id: tag
      run: |
        echo "TAG=$(make --quiet tag)" >> "$GITHUB_OUTPUT"

    - name: Build image
      run: make mock-grpc-server-image

    - name: Set up Docker Buildx
      # Skip for external contributions.
      if: |
        github.event_name == 'push' || !github.event.pull_request.head.repo.fork
      uses: docker/setup-buildx-action@v2

    - name: Login to quay.io/rhacs-eng
      # Skip for external contributions.
      if: |
        github.event_name == 'push' || !github.event.pull_request.head.repo.fork
      uses: docker/login-action@v2
      with:
        registry: quay.io
        username: ${{ secrets.QUAY_RHACS_ENG_RW_USERNAME }}
        password: ${{ secrets.QUAY_RHACS_ENG_RW_PASSWORD }}

    - name: Push to quay.io/rhacs-eng
      uses: docker/build-push-action@v4
      if: |
        github.event_name == 'push' || !github.event.pull_request.head.repo.fork
      with:
        push: true
        context: integration-tests/mock-grpc-server/image
        tags: |
          quay.io/rhacs-eng/grpc-server:${{ steps.tag.outputs.TAG }}

  scan-images-with-roxctl:
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    needs:
      - build-and-push-main
    container:
      image: quay.io/stackrox-io/apollo-ci:stackrox-test-0.3.57.1
      env:
        STACKROX_CI_INSTANCE_API_KEY: ${{ secrets.STACKROX_CI_INSTANCE_API_KEY }}
        STACKROX_CI_INSTANCE_CENTRAL_HOST: ${{ secrets.STACKROX_CI_INSTANCE_CENTRAL_HOST }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}

      - uses: ./.github/actions/job-preamble

      - name: Checkout submodules
        run: |
            git submodule update --init

      - uses: ./.github/actions/handle-tagged-build

      - uses: actions/download-artifact@v3
        with:
          name: cli-build

      - name: Unpack cli build
        run: |
          tar xvzf cli-build.tgz

      - name: Install roxctl
        run: |
          ./scripts/ci/lib.sh install_built_roxctl_in_gopath
          roxctl version

      - name: Scan images
        run: |
          ./release/scripts/scan-images-with-roxctl.sh

  slack-on-build-failure:
    if: github.event_name == 'push' && failure()
    name: Post failure message to Slack
    runs-on: ubuntu-latest
    needs:
      - pre-build-ui
      - pre-build-cli
      - pre-build-go-binaries
      - pre-build-go-binaries-rcd
      - pre-build-docs
      - build-and-push-main
      - build-and-push-main-rcd
      - build-and-push-operator
      - build-and-push-mock-grpc-server
      - scan-images-with-roxctl
    permissions:
      actions: read
    steps:
      - name: Slack Workflow Notification
        uses: Gamesight/slack-workflow-status@26a36836c887f260477432e4314ec3490a84f309
        with:
          include_commit_message: true
          include_jobs: on-failure
          repo_token: ${{secrets.GITHUB_TOKEN}}
          slack_webhook_url: ${{secrets.TEST_FAILURES_NOTIFY_WEBHOOK}}
