name: "RELEASE: Check image vulnerabilities"
on:
  workflow_dispatch:
    inputs:
      version:
        description: Full version tag
        required: true
        default: 0.0.0-test-rc.1
        type: string

run-name: ${{ format('Check image vulnerabilities for {0}', inputs.version) }}

jobs:
  run-parameters:
    name: Run parameters
    runs-on: ubuntu-22.04
    steps:
      - run: |
          {
            echo "Event: ${{ github.event_name }}"
            if [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
              echo '```'
              echo "${{ toJSON(inputs) }}"
              echo '```'
            fi
          } >> "$GITHUB_STEP_SUMMARY"

  check-image-vulnerabilities:
    name: Check ${{ matrix.image }}:${{ inputs.version }}
    runs-on: ubuntu-22.04
    permissions:
      # Needed for stackrox/central-login to create the JWT token.
      id-token: write
    strategy:
      fail-fast: false
      matrix:
        image:
          [
            "central-db",
            "collector",
            "main",
            "roxctl",
            "scanner",
            "scanner-db",
            "scanner-db-slim",
            "scanner-slim",
            "scanner-v4",
            "scanner-v4-db",
            "stackrox-operator",
          ]
    steps:
      - name: Central login
        uses: stackrox/central-login@v1
        with:
          endpoint: ${{ vars.ACS_DOGFOODING_CENTRAL_URL }}

      - name: Install roxctl
        uses: stackrox/roxctl-installer-action@v1
        with:
          central-endpoint: ${{ vars.ACS_DOGFOODING_CENTRAL_URL }}
          central-token: ${{ env.ROX_API_TOKEN }}

      - name: Scan images for vulnerabilities
        run: |
          {
            echo "### ${{ matrix.image }}:${{ inputs.version }}"
            echo "<details><summary>Click to expand</summary>"
            echo ""
            # We need a monospaced font for the table layout, and `terraform` has
            # nicer color highlighting than the default language agnostic code block.
            echo '```terraform'
            roxctl image scan --output=table --force \
              --image="quay.io/rhacs-eng/${{ matrix.image }}:${{ inputs.version }}" \
              --severity="MODERATE,IMPORTANT,CRITICAL" \
              --headers="COMPONENT,VERSION,CVE,SEVERITY,FIXED_VERSION,LINK" \
              --row-jsonpath-expressions="{result.vulnerabilities.#.componentName,result.vulnerabilities.#.componentVersion,result.vulnerabilities.#.cveId,result.vulnerabilities.#.cveSeverity,result.vulnerabilities.#.componentFixedVersion,result.vulnerabilities.#.cveInfo}"
            echo '```'
            echo "</details>"
          } >> "$GITHUB_STEP_SUMMARY"

      - name: Fail if critical or important vulnerabilities have been found
        run: |
          RESULT=$(roxctl image scan --output=json --force \
            --image="quay.io/rhacs-eng/${{ matrix.image }}:${{ inputs.version }}")
          CRITICAL_CNT=$(jq ".result.summary.CRITICAL" <<< "$RESULT")
          IMPORTANT_CNT=$(jq ".result.summary.IMPORTANT" <<< "$RESULT")
          if (( CRITICAL_CNT + IMPORTANT_CNT > 0 )); then
            echo "Found $CRITICAL_CNT critical vulnerabilities."
            echo "Found $IMPORTANT_CNT important vulnerabilities."
            echo "Check the workflow summary for a detailed list of the vulnerabilities."
            exit 1
          fi
