name: "RELEASE: Check image vulnerabilities"
on:
  workflow_dispatch:
    inputs:
      version:
        description: Full version tag
        required: true
        default: 0.0.0-test-rc.1
        type: string

run-name: ${{ format('Check image vulnerabilities for {0}', inputs.version) }}

jobs:
  run-parameters:
    name: Run parameters
    runs-on: ubuntu-latest
    steps:
      - run: |
          {
            echo "Event: ${{ github.event_name }}"
            if [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
              echo '```'
              echo "${{ toJSON(inputs) }}"
              echo '```'
            fi
          } >> "$GITHUB_STEP_SUMMARY"

  check-image-vulnerabilities:
    name: Check images in version ${{ inputs.version }} for vulnerabilities
    runs-on: ubuntu-latest
    permissions:
      # Needed for stackrox/central-login to create the JWT token.
      id-token: write
    strategy:
      matrix:
        image:
          [
            "central-db",
            "collector",
            "collector-slim",
            "main",
            "roxctl",
            "scanner",
            "scanner-db",
            "scanner-db-slim",
            "scanner-slim",
            "stackrox-operator",
          ]
    steps:
      - name: Central login
        uses: stackrox/central-login@v1
        with:
          endpoint: ${{ vars.ACS_DOGFOODING_CENTRAL_URL }}

      - name: Install roxctl
        uses: stackrox/roxctl-installer-action@v1
        with:
          central-endpoint: ${{ vars.ACS_DOGFOODING_CENTRAL_URL }}
          central-token: ${{ env.ROX_API_TOKEN }}

      - name: Scan images for vulnerabilities
        run: |
          {
            echo "### ${{ matrix.image }}:${{ inputs.version }}"
            echo "<details><summary>Click to expand</summary>"
            echo ""
            # We need a monospaced font for the table layout, and `terraform` has
            # nicer color highlighting than the default language agnostic code block.
            echo '```terraform'
            roxctl image scan --output=table \
              --image="quay.io/rhacs-eng/${{ matrix.image }}:${{ inputs.version }}"
            echo '```'
            echo "</details>"
          } >> "$GITHUB_STEP_SUMMARY"
