name: "RELEASE: Check image vulnerabilities"
on:
  workflow_dispatch:
    inputs:
      version:
        description: Full version tag
        required: true
        default: 0.0.0-test-rc.1
        type: string
  push:
    tags: ['*']

run-name: ${{ format('Check image vulnerabilities for {0}', inputs.version || github.ref_name) }}

jobs:
  run-parameters:
    name: Run parameters
    runs-on: ubuntu-latest
    steps:
      - run: |
          {
            echo "Event: ${{ github.event_name }}"
            if [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
              echo '```'
              echo "${{ toJSON(inputs) }}"
              echo '```'
            fi
          } >> "$GITHUB_STEP_SUMMARY"

  check-image-vulnerabilities-upstream:
    name: "Upstream: ${{ matrix.image }}:${{ inputs.version || github.ref_name }}"
    runs-on: ubuntu-latest
    permissions:
      # Needed for stackrox/central-login to create the JWT token.
      id-token: write
    strategy:
      fail-fast: false
      matrix:
        image:
          [
            "central-db",
            "collector",
            "main",
            "roxctl",
            "scanner",
            "scanner-db",
            "scanner-db-slim",
            "scanner-slim",
            "scanner-v4",
            "scanner-v4-db",
            "stackrox-operator",
          ]
    steps:
      - name: Check image vulnerabilities
        uses: stackrox/actions/release/check-image-vulnerabilities@tm/ROX-image-vuln-check
        with:
          image: rhacs-eng/${{ matrix.image }}
          version: ${{ inputs.version || github.ref_name }}
          wait-limit: "7200"
          summary-title: "Upstream vulnerabilities"
          quay-bearer-token: ${{ secrets.QUAY_RHACS_ENG_BEARER_TOKEN }}
          central-url: ${{ vars.ACS_DOGFOODING_CENTRAL_URL }}

      - name: Upload scan result artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: scan-result-quay.io_rhacs-eng_${{ matrix.image }}_${{ inputs.version || github.ref_name }}.json
          path: scan-result.json
          retention-days: 30

  check-image-vulnerabilities-konflux:
    name: "Konflux: ${{ matrix.image }}:${{ inputs.version || github.ref_name }}"
    runs-on: ubuntu-latest
    permissions:
      # Needed for stackrox/central-login to create the JWT token.
      id-token: write
    strategy:
      fail-fast: false
      matrix:
        image:
          [
            "release-central-db",
            "release-collector",
            "release-main",
            "release-roxctl",
            "release-scanner",
            "release-scanner-db",
            "release-scanner-db-slim",
            "release-scanner-slim",
            "release-scanner-v4",
            "release-scanner-v4-db",
            "release-operator",
          ]
    steps:
      - name: Check image vulnerabilities
        uses: stackrox/actions/release/check-image-vulnerabilities@tm/ROX-image-vuln-check
        with:
          image: rhacs-eng/${{ matrix.image }}
          version: ${{ inputs.version || github.ref_name }}
          wait-limit: "11400"
          summary-title: "Konflux vulnerabilities"
          quay-bearer-token: ${{ secrets.QUAY_RHACS_ENG_BEARER_TOKEN }}
          central-url: ${{ vars.ACS_DOGFOODING_CENTRAL_URL }}

      - name: Upload scan result artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: scan-result-quay.io_rhacs-eng_${{ matrix.image }}_${{ inputs.version || github.ref_name }}.json
          path: scan-result.json
          retention-days: 30
