name: CI Failures Report
on:
  workflow_dispatch:
    inputs:
      test:
        description: Slack to #acs-slack-integration-testing
        required: true
        default: true
        type: boolean
  schedule:
  - cron: 0 12 * * 1
  pull_request:
    types:
    - opened
    - reopened
    - synchronize

jobs:
  report-e2e-failures-to-slack:
    runs-on: ubuntu-latest
    container:
      image: quay.io/stackrox-io/apollo-ci:stackrox-test-0.3.61
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Report
      env:
        GCP_SERVICE_ACCOUNT_STACKROX_CI: ${{ secrets.GCP_SERVICE_ACCOUNT_STACKROX_CI }}
        SLACK_CI_INTEGRATION_TESTING_WEBHOOK: ${{ secrets.SLACK_CI_INTEGRATION_TESTING_WEBHOOK }}
      shell: bash
      run: |
        source scripts/ci/lib.sh

        setup_gcp

        # Avoid BQ init message in first report
        bq --quiet --format=pretty query --use_legacy_sql=false 'select 1'

        slack_top_10_failures "qa-e2e" "Top 10 QA E2E Test failures for the last 7 days" "${{github.event.inputs.test}}"
        slack_top_10_failures "operator-e2e" "Top 10 Operator E2E Test failures for the last 7 days" "${{github.event.inputs.test}}"
        slack_top_10_failures "ui-e2e" "Top 10 UI E2E Test failures for the last 7 days" "${{github.event.inputs.test}}"
        slack_top_10_failures "nongroovy-e2e" "Top 10 !.Groovy E2E Test failures for the last 7 days" "${{github.event.inputs.test}}"
