name: CI Failures Report
on:
  workflow_dispatch:
    inputs:
      test:
        description: "Slack to #acs-slack-ci-integration-testing"
        required: true
        default: true
        type: boolean
  schedule:
  - cron: 0 12 * * 1

jobs:
  report-e2e-failures-to-slack:
    runs-on: ubuntu-latest
    container:
      image: quay.io/stackrox-io/apollo-ci:stackrox-test-0.4.8
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Report
      env:
        GCP_SERVICE_ACCOUNT_STACKROX_CI: ${{ secrets.GCP_SERVICE_ACCOUNT_STACKROX_CI }}
        SLACK_CI_INTEGRATION_TESTING_WEBHOOK: ${{ secrets.SLACK_CI_INTEGRATION_TESTING_WEBHOOK }}
        SLACK_ENG_DISCUSS_WEBHOOK: ${{ secrets.SLACK_ENG_DISCUSS_WEBHOOK }}
      shell: bash
      run: |
        source scripts/ci/lib.sh

        setup_gcp

        # Avoid BQ init message in first report
        bq --quiet --format=pretty query --use_legacy_sql=false 'select 1'
        n=10
        slack_top_n_failures ${n} "qa-e2e" ":testgrid: Top ${n} QA E2E Test failures in this and previous week" "${{github.event.inputs.test}}"
        slack_top_n_failures ${n} "operator-e2e" ":operator: Top ${n} Operator E2E Test failures in this and previous week" "${{github.event.inputs.test}}"
        slack_top_n_failures ${n} "ui-e2e" ":computer: Top ${n} UI E2E Test failures in this and previous week" "${{github.event.inputs.test}}"
        slack_top_n_failures ${n} "nongroovy-e2e" ":go: Top ${n} NonGroovy E2E Test failures in this and previous week" "${{github.event.inputs.test}}"
