name: Create Test Cluster
on:
  workflow_call:
    secrets:
      INFRA_TOKEN:
        description: Infra access token
        required: true
    inputs:
      flavor:
        description: Flavor (`qa-demo`, `gke-default`, `openshift-4-demo`...)
        type: string
        required: true
      name:
        description: Cluster name
        type: string
        required: true
      lifespan:
        description: Cluster lifespan
        type: string
        default: 48h
        required: false
      args:
        description: Comma separated flavor arguments. Ex. nodes=5,main-image=main:tag
        type: string
        required: false
        default: ""
      wait:
        description: Whether to wait for the cluster readiness
        type: boolean
        required: false
        default: false

  workflow_dispatch:
    inputs:
      flavor:
        description: Flavor (`qa-demo`, `gke-default`, `openshift-4-demo`...)
        type: string
        required: true
      name:
        description: Cluster name
        type: string
        required: true
      lifespan:
        description: Cluster lifespan
        type: string
        default: 48h
        required: false
      args:
        description: Comma separated flavor arguments. Ex. nodes=5,main-image=main:tag
        type: string
        required: false
        default: ""
      wait:
        description: Whether to wait for the cluster readiness
        type: boolean
        required: false
        default: false

env:
  ACCEPT_RAW: "Accept: application/vnd.github.v3.raw"
  script_url: /repos/${{github.repository}}/contents/.github/workflows/scripts/common.sh?ref=${{github.event.repository.default_branch}}

jobs:
  infra:
    runs-on: ubuntu-latest
    steps:
      - name: Download infractl
        run: |
          mkdir -p ~/.local/bin
          curl --fail -sL https://infra.rox.systems/v1/cli/linux/amd64/upgrade \
          | jq -r ".result.fileChunk" \
          | base64 -d \
          > ~/.local/bin/infractl
          chmod +x ~/.local/bin/infractl
          # Ensure that the binary works
          infractl --version

      - name: Create Cluster
        env:
          INFRA_TOKEN: ${{secrets.INFRA_TOKEN}}
          GITHUB_TOKEN: ${{github.token}}
        run: |
          set -uo pipefail
          gh api -H "$ACCEPT_RAW" "${{env.script_url}}" | bash -s -- \
            create-cluster \
            "${{inputs.flavor}}" \
            "${{inputs.name}}" \
            "${{inputs.lifespan}}" \
            "${{inputs.wait}}" \
            "${{inputs.args}}"
