name: E2E
on:
  push:
    tags:
    - '*-nightly-*'
    branches:
    - master
  pull_request:
    types:
    - opened
    - reopened
    - synchronize

env:
  KUBECONFIG: "/tmp/kubeconfig"

jobs:
  e2e:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - uses: ./.github/actions/job-preamble
      with:
        gcp-account: ${{ secrets.GCP_SERVICE_ACCOUNT_STACKROX_CI }}
    - name: Create k8s Kind Cluster
      uses: helm/kind-action@v1
      with:
        kubeconfig: "${{ env.KUBECONFIG }}"
    - name: Install
      env:
        MAIN_IMAGE_TAG: "4.7.0"
        SENSOR_HELM_DEPLOY: "true"
      run: ./deploy/k8s/deploy-local.sh
    - name: Fetch scanner
      run: go get github.com/stackrox/scanner
    - name: QA Tests Backend
      env:
        QUAY_RHACS_ENG_RO_USERNAME: ${{ secrets.QUAY_RHACS_ENG_RO_USERNAME }}
        QUAY_RHACS_ENG_RO_PASSWORD: ${{ secrets.QUAY_RHACS_ENG_RO_PASSWORD }}
      run: make all -C

