name: gradle-dependency-graph
on:
  push:
    branches: [ master ]

permissions:
  contents: write

jobs:
  dependency-graph:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 17
    - name: Gradle dependency graphs setup
      uses: gradle/actions/setup-gradle@v5
      with:
        dependency-graph: generate-and-submit
    - run: ./gradlew build -x test
      with: 
        working-directory: ./
