name: Label pull requests based on changed files
on:
  pull_request:
    types:
    - ready_for_review
    - opened
    - synchronize

jobs:
  label-pr:
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' }}
    steps:
    - uses: actions/labeler@v5
      with:
        repo-token: "${{ github.token }}"
        sync-labels: ""
