name: Label pull requests based on changed files
on:
  pull_request:
    types:
    - ready_for_review
    - opened
    - synchronize

jobs:
  label-pr:
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' && !github.event.pull_request.head.repo.fork }}
    steps:
    - uses: actions/labeler@v6
      with:
        repo-token: "${{ github.token }}"
        sync-labels: False
