name: Create nightly tag
on:
  workflow_dispatch:
  schedule:
  - cron: 0 0 * * 1-5
jobs:
  create-nightly-tag:
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        ref: nightlies
    - name: Rebase branch and create new tag
      env:
        GITHUB_TOKEN: ${{ secrets.RHACS_BOT_GITHUB_TOKEN }}
      run: .openshift-ci/nightlies.sh
