name: Auto /retest
on:
  push:
  workflow_dispatch:
  schedule:
  - cron: 5 * * * *
jobs:
  triage-report:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        sparse-checkout: |
          .github
          tools/retest

    - name: Setup Go environment
      uses: actions/setup-go@v5
      with:
        go-version-file: tools/retest/go.mod

    - name: Retest
      env:
        GITHUB_TOKEN: ${{ secrets.RHACS_BOT_GITHUB_TOKEN }}
      run: cd tools/retest && go run main.go
