name: Scanner DB integration tests

on:
  push:
    tags:
    - '*'
    branches:
    - master
    - release-*
  pull_request:
    types:
    - opened
    - reopened
    - synchronize

jobs:
  db-integration-tests:
    runs-on: ubuntu-22.04
    container:
      image: quay.io/stackrox-io/apollo-ci:scanner-test-0.4.8
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - uses: ./.github/actions/job-preamble
      with:
        gcp-account: ${{ secrets.GCP_SERVICE_ACCOUNT_STACKROX_CI }}

    - name: Run Postgres
      run: |
        su postgres -c 'initdb -D /tmp/data'
        su postgres -c 'pg_ctl -D /tmp/data start'

    - name: Cache Go dependencies
      uses: ./.github/actions/cache-go-dependencies

    - name: Is Postgres ready
      run: pg_isready -h 127.0.0.1

    - name: DB Integration tests
      run: make -C scanner db-integration-test
