name: Scanner standalone E2E tests

on:
  workflow_dispatch:

jobs:
  e2e-run:
    name: "Deploy and run"
    runs-on: ubuntu-latest
    env:
      SCANNER_E2E_QUAY_USERNAME: ${{ secrets.QUAY_RHACS_ENG_RO_USERNAME }}
      SCANNER_E2E_QUAY_PASSWORD: ${{ secrets.QUAY_RHACS_ENG_RO_PASSWORD }}
      # TODO Add registry.redhat.io secrets.
      SCANNER_E2E_REDHAT_USERNAME: ${{ secrets.REDHAT_USERNAME }}
      SCANNER_E2E_REDHAT_PASSWORD: ${{ secrets.REDHAT_PASSWORD }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}

      - uses: ./.github/actions/job-preamble
        with:
          gcp-account: ${{ secrets.GCP_SERVICE_ACCOUNT_STACKROX_CI }}

      - name: Start minikube
        uses: medyagh/setup-minikube@master
        with:
          driver: docker
          cpus: max
          memory: max
          mount-path: ${{ runner.temp }}:/runner

      - name: Deploy
        run: |
          mkdir -m 777 "${{ runner.temp }}"/pgdata
          make -C scanner e2e-deploy db-host-path="/runner/pgdata"

      - name: Show deployment
        if: success() || failure()
        run: |
          set +e
          kubectl -n stackrox describe pods -l app=scanner-v4-db
          kubectl -n stackrox logs -l app=scanner-v4-db --all-containers=true
          kubectl -n stackrox describe pods -l app=scanner-v4
          kubectl -n stackrox logs -l app=scanner-v4 --all-containers=true

      - name: Run
        run: |
          set -x
          kubectl -n stackrox expose deployment scanner-v4
          kubectl -n stackrox get svc
          while true; do
              kubectl -n stackrox port-forward \
                  "$(kubectl -n stackrox get pods \
                             -l app=scanner-v4 \
                             -o jsonpath="{.items[*].metadata.name}")" \
                  8443:8443 || continue
          done &
          trap 'kill $!' EXIT
          make -C scanner e2e-run NODEPS=1

      - name: Show logs on failure
        if: failure()
        run: |
          set +e
          kubectl -n stackrox logs -l app=scanner-v4-db --all-containers=true
          kubectl -n stackrox logs -l app=scanner-v4 --all-containers=true
