name: Unit Tests
on:
  push:
    tags:
    - '*'
    branches:
    - master
    - release-*
  pull_request:
    types:
    - opened
    - reopened
    - synchronize
jobs:
  go:
    strategy:
      matrix:
        gotags: [ 'GOTAGS=""', 'GOTAGS=release' ]
    runs-on: ubuntu-latest
    container:
      image: quay.io/stackrox-io/apollo-ci:stackrox-test-0.3.59
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - uses: ./.github/actions/job-preamble

    - name: Cache Go dependencies
      uses: ./.github/actions/cache-go-dependencies

    - name: Go Unit Tests
      run: ${{ matrix.gotags }} make go-unit-tests

    - name: Generate junit report
      if: always()
      run: make generate-junit-reports

    - name: Publish Test Report
      uses: test-summary/action@v2
      if: always()
      with:
        paths: 'junit-reports/report.xml'

    - name: Go Integration Unit Tests
      run: ${{ matrix.gotags }} make integration-unit-tests

    - name: Go Operator Integration Tests
      run: ${{ matrix.gotags }} make -C operator/ test-integration

    # Do not create junit report for bench tests:
    # https://github.com/jstemmer/go-junit-report/issues/174

  go-postgres:
    strategy:
      matrix:
        gotags: [ 'GOTAGS=""', 'GOTAGS=release' ]
    runs-on: ubuntu-latest
    container:
      image: quay.io/stackrox-io/apollo-ci:stackrox-test-0.3.59
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - uses: ./.github/actions/job-preamble

    - name: Run Postgres
      run: |
        su postgres -c 'initdb -D /tmp/data'
        su postgres -c 'pg_ctl -D /tmp/data start'

    - name: Cache Go dependencies
      uses: ./.github/actions/cache-go-dependencies

    - name: Is Postgres ready
      run: pg_isready -h 127.0.0.1

    - name: Go Unit Tests
      run: ${{ matrix.gotags }} make go-postgres-unit-tests

    - name: Generate junit report
      if: always()
      run: make generate-junit-reports

    - name: Publish Test Report
      uses: test-summary/action@v2
      if: always()
      with:
        paths: 'junit-reports/report.xml'

    - name: Report junit failures in jira
      if: (!cancelled()) && github.event_name == 'push'
      uses: ./.github/actions/junit2jira
      with:
        jira-token: ${{ secrets.JIRA_TOKEN }}
        directory: 'junit-reports'

  go-bench:
    runs-on: ubuntu-latest
    container:
      image: quay.io/stackrox-io/apollo-ci:stackrox-test-0.3.59
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - uses: ./.github/actions/job-preamble

    - name: Run Postgres
      run: |
        su postgres -c 'initdb -D /tmp/data'
        su postgres -c 'pg_ctl -D /tmp/data start'

    - name: Cache Go dependencies
      uses: ./.github/actions/cache-go-dependencies

    - name: Is Postgres ready
      run: pg_isready -h 127.0.0.1

    - name: Go Bench Tests
      run: make go-postgres-bench-tests

    - name: Generate junit report
      if: always()
      run: make generate-junit-reports

    - name: Publish Test Report
      uses: test-summary/action@v2
      if: always()
      with:
        paths: 'junit-reports/report.xml'

    - name: Report junit failures in jira
      if: (!cancelled()) && github.event_name == 'push'
      uses: ./.github/actions/junit2jira
      with:
        jira-token: ${{ secrets.JIRA_TOKEN }}
        directory: 'junit-reports'

  ui:
    runs-on: ubuntu-latest
    container:
      image: quay.io/stackrox-io/apollo-ci:stackrox-test-0.3.59
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - uses: ./.github/actions/job-preamble

    - name: Create combined mono repo lock file
      uses: ./.github/actions/create-concatenated-ui-monorepo-lock

    - name: Cache UI dependencies
      uses: ./.github/actions/cache-ui-dependencies

    - name: UI Unit Tests
      run: make ui-test

    - name: Publish Test Report
      uses: test-summary/action@v2
      if: always()
      with:
        paths: 'ui/test-results/reports/*.xml'

    - name: Report junit failures in jira
      if: (!cancelled()) && github.event_name == 'push'
      uses: ./.github/actions/junit2jira
      with:
        jira-token: ${{ secrets.JIRA_TOKEN }}
        directory: 'ui/test-results/reports'

  local-roxctl-tests:
    runs-on: ubuntu-latest
    container:
      image: quay.io/stackrox-io/apollo-ci:stackrox-test-0.3.59
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        ref: ${{ github.event.pull_request.head.sha }}

    - uses: ./.github/actions/job-preamble

    - name: Cache Go dependencies
      uses: ./.github/actions/cache-go-dependencies

    - uses: ./.github/actions/handle-tagged-build

    - name: Local roxctl tests
      run: ./scripts/ci/jobs/local-roxctl-tests.sh

    - name: Publish Test Report
      uses: test-summary/action@v2
      if: always()
      with:
        paths: 'roxctl-test-output/*.xml'

    - name: Report junit failures in jira
      if: (!cancelled()) && github.event_name == 'push'
      uses: ./.github/actions/junit2jira
      with:
        jira-token: ${{ secrets.JIRA_TOKEN }}
        directory: 'roxctl-test-output'

  slack-on-unit-tests-failure:
    if: github.event_name == 'push' && failure()
    name: Post failure message to Slack
    runs-on: ubuntu-latest
    needs:
      - go
      - go-bench
      - go-postgres
      - ui
      - local-roxctl-tests
    permissions:
      actions: read
    steps:
      - name: Slack Workflow Notification
        uses: Gamesight/slack-workflow-status@26a36836c887f260477432e4314ec3490a84f309
        with:
          include_commit_message: true
          include_jobs: on-failure
          repo_token: ${{secrets.GITHUB_TOKEN}}
          slack_webhook_url: ${{secrets.TEST_FAILURES_NOTIFY_WEBHOOK}}
