name: Unit Tests
on:
  push:
    tags:
    - '*'
    branches:
    - master
    - release-*
  pull_request:
    types:
    - opened
    - reopened
    - synchronize
jobs:
  go:
    strategy:
      matrix:
        gotags: [ 'GOTAGS=""', 'GOTAGS=release' ]
    runs-on: ubuntu-latest
    container:
      image: quay.io/stackrox-io/apollo-ci:stackrox-test-0.3.57.1
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - uses: ./.github/actions/job-preamble

    - name: Cache Go dependencies
      uses: ./.github/actions/cache-go-dependencies

    - name: Go Unit Tests
      run: ${{ matrix.gotags }} make go-unit-tests

  go-postgres:
    strategy:
      matrix:
        gotags: [ 'GOTAGS=""', 'GOTAGS=release' ]
    runs-on: ubuntu-latest
    container:
      image: quay.io/stackrox-io/apollo-ci:stackrox-test-0.3.57.1
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - uses: ./.github/actions/job-preamble

    - name: Run Postgres
      run: |
        su postgres -c 'initdb -D /tmp/data'
        su postgres -c 'pg_ctl -D /tmp/data start'

    - name: Cache Go dependencies
      uses: ./.github/actions/cache-go-dependencies

    - name: Is Postgres ready
      run: pg_isready -h 127.0.0.1

    - name: Go Unit Tests
      run: ${{ matrix.gotags }} make go-postgres-unit-tests

  ui:
    runs-on: ubuntu-latest
    container:
      image: quay.io/stackrox-io/apollo-ci:stackrox-test-0.3.57.1
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - uses: ./.github/actions/job-preamble

    - name: Create combined mono repo lock file
      uses: ./.github/actions/create-concatenated-ui-monorepo-lock

    - name: Cache UI dependencies
      uses: ./.github/actions/cache-ui-dependencies

    - name: UI Unit Tests
      run: make ui-test
