name: Run Go source vulnerability check
on:
  push:
    branches:
    - master
    - main
  pull_request:

jobs:
  govulncheck:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install govulncheck
      run: go install golang.org/x/vuln/cmd/govulncheck@latest
    - name: Run govulncheck
      run: govulncheck ./...
